<p>MANFOUO KENNEDY Armel is a Cameroonian entrepreneur. Eldest of a family of six
  children, he was born in Ngaoundéré in the Adamawa region, to a father and mother
  teachers. Hardworking, visionary and endowed with an open and critical mind, Kennedy is a
  dynamic and ambitious person. Due to his multiple values, he has built a good
  credibility that it continues to increase with its customers, partners and employees.</p>
<p> He completed his primary studies at the bilingual primary school from biyem-assi where he
  obtained his CEP (Primary Study Certificate) in 2006; then he joined the sixth grade retirement college. Subsequently,
  he continued his studies at the Mgr François Xavier Vogt college where he obtained his baccalaureate C with the
  mention Bien 3. Strongly interested in the world of ICT, he then joined the prestigious Ecole Nationale Supérieure
  Polytechnique de Yaoundé, where he graduated in 2018 with flying colors as a design engineer in computer
  engineering. </p> <p> During his engineering course, he had several professional experiences: </p>
<ul class='ml-2'>
  <li> In 2017, he completed a two-month academic internship <strong> at the breweries of Cameroon </strong> where he
    developed a system for reporting performance indicators ( KPI). This is a system that allows managers to see at a
    glance the performance history and the current state of health of all or part of their structures, and thus prepare
    for the future.
  </li>
  <br>
  <li> In 2018, he joined <strong> CIRAD (International Center for Agronomic Research and Development) </strong> as part
    of a professional internship for a period of 8 months. The latter focused on the implementation of a regularized
    particle filtering algorithm with optimized regularization, the role of which is to understand and predict the
    behavior of a system from observations made over time. As part of this work, he innovated in the sense that he
    developed an algorithm solving the problems posed by most of the existing filtering algorithms.
  </li>
</ul> <p> In order to fully live his passion for entrepreneurship, Kennedy let go of most of his peripheral occupations
  at the end of 2018 and refused many proposals for very high-paying employment contracts in several of the largest
  structures in Cameroon to join forces with two of its promoters to create the digital services company UPGRADE GROUP
  SARL, which became GOHZE in 2020; where he holds the position of <strong> CEO (Chief Executive Officer) </strong>.
</p> <p> His professional life is positively influenced by his great sociability. Kennedy lives a fairly diverse daily
  life, all of his responsibilities include managing multiple relationships (meetings with partners, developing good
  relationships with his internal teams, etc.) for the benefit of the company, working on projects and their
  supervision, control of the general functioning of the company. Young single, he enjoys his extra-professional life
  around board games, video games and sports (football, basketball). </p>
