<p>MANFOUO KENNEDY Armel est un entrepreneur camerounais. Aîné d’une famille de six
  enfants, il est né à Ngaoundéré dans la région de l’Adamaoua, de père et mère
  enseignants. Travailleur, visionnaire et doté d'un esprit ouvert et critique, Kennedy est une
  personne dynamique et ambitieuse. Du fait de ses multiples valeurs, il s'est bâti une bonne
  crédibilité qu'il continue d'accroître auprès de ses clients, partenaires et collaborateurs.</p>
<p>Il a suivi ses études primaires à l’école primaire bilingue de biyem-assi où il a obtenu son CEP (Certificat d’Etude
  Primaire) en 2006 ; puis il a rejoint le collège de la retraite en classe de sixième. Par la suite, il a poursuivi ses
  études au collège Mgr François Xavier Vogt où il a obtenu son baccalauréat C avec la mention Bien 3. Fortement
  intéressé par le monde des TIC, il intègre alors la prestigieuse Ecole Nationale Supérieure Polytechnique de Yaoundé,
  dont il sort en 2018 décrochant avec brio son diplôme d'ingénieur de conception en génie informatique.</p><p>Pendant
  son cursus d’ingénieur, il a enchaîné plusieurs expériences professionnelles :</p>
<ul class='ml-2'>
  <li>En 2017, il a effectué un stage académique de deux mois <strong>aux brasseries du Cameroun</strong> où il a
    développé un système de remontée d'indicateurs de performances (KPI). Il s’agit là d’un système qui permet aux
    managers de visualiser d'un coup d'œil l’historique des performances et l'état de santé présent de la totalité ou
    d'une partie de leurs structures, et d’ainsi se préparer à l'avenir.
  </li>
  <br>
  <li>En 2018, il a rejoint la société <strong>CIRAD (Centre International pour la Recherche Agronomique et le
    Développement)</strong> dans le cadre d’un stage professionnel pour une durée de 8 mois. Ce dernier portait sur la
    mise en place d'un algorithme de filtrage particulaire régularisé à régularisation optimisée dont le rôle est de
    comprendre et prédire le comportement d'un système à partir d'observations faites au fil du temps. Il a dans le
    cadre de ce travail innové en ce sens qu'il a développé un algorithme résolvant les problèmes posés par l'essentiel
    des algorithmes de filtrages existants.
  </li>
</ul><p>Afin de vivre pleinement sa passion pour l'entrepreneuriat, Kennedy a lâché prise de la plupart de ses
  occupations périphériques en fin d’année 2018 et a refusé de nombreuses propositions de contrat de travail à très
  haute rémunération dans plusieurs des plus grosses structures du Cameroun pour s’associer avec deux de ses
  promotionnaires afin de créer l’entreprise de services numériques UPGRADE GROUP SARL devenue GOHZE en 2020 ; où il
  occupe le poste de <strong>CEO (Chief Executive Officer)</strong>.</p><p>Sa vie professionnelle est positivement
  influencée par sa grande sociabilité. Kennedy vit un quotidien assez diversifié, l’ensemble de ses responsabilités
  intègre la gestion de multiples relations (réunions avec des partenaires, développement d’un bon relationnel avec ses
  équipes en interne, etc.) au profit de l’entreprise, le travail sur les projets et leur supervision, le contrôle du
  bon fonctionnement général de l’entreprise. Jeune célibataire, il profite de sa vie extra-professionnelle autour des
  jeux de société, des jeux vidéo et du sport (football, basket).</p>
