<script setup>
const colorMode = useColorMode();
onMounted(() => {
    const storedColorMode = localStorage.getItem('theme');
    if (storedColorMode) {
       // Assuming you have a method to set the color mode
       colorMode.value = storedColorMode;
       document.body.dataset.bsTheme = colorMode.value;
    }
    else {
        document.body.dataset.bsTheme = colorMode.value;
    }
});
</script>

<template>
   <div>
      <NuxtLayout>
         <NuxtPage />
      </NuxtLayout>
   </div>
</template>
