<script setup>
  const props = defineProps({
    error: Object
  })
</script>
<template>
  <AppHeader />
  <div>
    <div style="background: #131514;height: 75px;"></div>
    <div style="min-height: 50vh" class="d-flex flex-column align-items-center justify-content-center">
      <h1 v-if="error.statusCode === 404">Page not found</h1>
      <h1 v-else>An error occurred</h1>
      <NuxtLink to="/">Home page</NuxtLink>
    </div>
  </div>
  <AppFooter />
</template>

