<p>DZOUKOU KENGNE Raoul est l’aîné d’une famille de quatre enfants et est né à Yaoundé
  dans la région du centre, d’une mère institutrice et d’un père Informaticien/Entrepreneur.
  Professionnel et assidu, Raoul est une personne très humble qui aime le travail. Il tire ses
  valeurs de ses parents, qui pour lui sont des modèles et sa principale motivation dans la
  vie de tous les jours.</p>
<p>Il a suivi ses études primaires au groupe
  scolaire bilingue les Bertillets où il a obtenu son Certificat d’études primaires en 2008. Influencé par des raisons
  indépendantes de sa volonté, il a suivi ses études secondaires dans plusieurs établissements en l'occurrence le
  collège Jean Tabi (6ème jusqu’en 4ème) où il a obtenu son Brevet d’études secondaires en classe de quatrième. Il a
  ensuite intégré le lycée bilingue d’Elig-Essono en classe de seconde et le lycée de Mballa II pour les classes de
  première et terminale, où il obtient son baccalauréat avec la mention Bien. En 2013, par sa qualité d’élève
  travailleur et déterminé à poursuivre son rêve de devenir Ingénieur, il fut admis au concours de l’Ecole Nationale
  Supérieure Polytechnique de Yaoundé. Brillant, Il est sorti de l’école exactement cinq ans plus tard avec le titre
  d’Ingénieur de conception en informatique. Sans hésitation et surtout avec beaucoup de convictions, il a pris la
  décision de se lancer dans le monde de l’entrepreneuriat.</p><p>De corollaire avec ses objectifs de se familiariser
  avec le monde professionnel et de renforcer sa formation par la mise en œuvre de ses compétences pratiques sur des
  projets réels, Raoul ne s’est pas lassé d’effectuer de multiples stages dans diverses entreprises :</p>
<ul class='ml-2'>
  <li>En 2017, il a effectué un stage académique de 2 mois chez <strong>UFI Payment Solutions</strong>, une entreprise
    qui fournit des solutions informatiques pour le transfert d’argent sur des terminaux de paiement électroniques,
  </li>
  <li>De Février à Mai 2018, il a effectué un stage professionnel chez <strong>SOCIETE GENERALE CAMEROUN</strong>, où il
    a assuré l’intérim au poste de chef de projet durant la période allant de juin à juillet 2018,
  </li>
  <li>En septembre 2018, il intègre l’équipe de création de la jeune entreprise de services Informatiques Upgrade Group
    (connue sous le nom de <strong>GOHZE</strong> actuellement) où il occupe actuellement les postes de <strong>Directeur
      financier</strong> et <strong>chef de projet</strong>.
  </li>
</ul><p>Ses valeurs personnelles contribuent à faire de lui une personne très méthodique dans son travail et son
  expérience à GOHZE est plutôt agréable en ce sens qu’il entretient un bon relationnel avec ses collaborateurs. La vie
  professionnelle de Raoul est beaucoup plus axée sur les activités au sein de l’entreprise GOHZE, où il se charge
  d’effectuer les réunions de collaboration, de définir les tâches à effectuer sur les projets à sa charge, de s'assurer
  de la réalisation effective des tâches planifiées dans les délais, de la gestion des finances, de la planification du
  budget de l’entreprise, de la gestion et la supervision des stagiaires à sa charge. Jeune célibataire, il profite de
  sa vie extra-professionnelle autour des séries, des jeux vidéo, des dessins animés et en pratiquant du football.</p>
