$primary: #ffb500;
// $primary: #FFB500;
// $secondary: #885600;
$secondary: #4b2f00;
// $secondary: #4b2f00;
$navbar-dark-color: #eee;
$container-max-widths: (
  md: 720px,
  lg: 960px,
  xl: 1240px
);

$accordion-button-active-bg:              'white';


// Dark mode
// $body-bg-dark: #050505;
$body-bg-dark:  #101010;
$light-text-emphasis-dark:          red;
$dark-text-emphasis-dark:           green;
