@import "./variables";
@import "./theme";

@font-face {
   font-family: "CanaroW00-Medium";
   src: url("/fonts/Canaro W00 Medium/Canaro W00 Medium.eot"); /* IE9*/
   src: url("/fonts/Canaro W00 Medium/Canaro W00 Medium.woff2")
         format("woff2"),
      /* chrome firefox */
         url("/fonts/Canaro W00 Medium/Canaro W00 Medium.woff")
         format("woff"),
      /* chrome firefox */
         url("/fonts/Canaro W00 Medium/Canaro W00 Medium.ttf")
         format("truetype"),
      /* chrome firefox opera Safari, Android, iOS 4.2+*/
         url("/fonts/Canaro W00 Medium/Canaro W00 Medium.svg")
         format("svg"); /* iOS 4.1- */
   font-display: swap;
}

@font-face {
   font-family: "CanaroW00-Light";
   src: url("/fonts/Canaro W00 Light/Canaro W00 Light.eot"); /* IE9*/
   src: url("/fonts/Canaro W00 Light/Canaro W00 Light.woff2")
         format("woff2"),
      /* chrome firefox */
         url("/fonts/Canaro W00 Light/Canaro W00 Light.woff")
         format("woff"),
      /* chrome firefox */
         url("/fonts/Canaro W00 Light/Canaro W00 Light.ttf")
         format("truetype"),
      /* chrome firefox opera Safari, Android, iOS 4.2+*/
         url("/fonts/Canaro W00 Light/Canaro W00 Light.svg")
         format("svg"); /* iOS 4.1- */
   font-display: swap;
}

@font-face {
   font-family: "CanaroW00-ExtraLight";
   src: url("/fonts/Canaro W00 ExtraLight/Canaro W00 ExtraLight.eot"); /* IE9*/
   src: url("/fonts/Canaro W00 ExtraLight/Canaro W00 ExtraLight.woff2")
         format("woff2"),
      /* chrome firefox */
         url("/fonts/Canaro W00 ExtraLight/Canaro W00 ExtraLight.woff")
         format("woff"),
      /* chrome firefox */
         url("/fonts/Canaro W00 ExtraLight/Canaro W00 ExtraLight.ttf")
         format("truetype"),
      /* chrome firefox opera Safari, Android, iOS 4.2+*/
         url("/fonts/Canaro W00 ExtraLight/Canaro W00 ExtraLight.svg")
         format("svg"); /* iOS 4.1- */
   font-display: swap;
}

@font-face {
   font-family: "CanaroW00-Book";
   src: url("/fonts/Canaro W00 Book/Canaro W00 Book.eot"); /* IE9*/
   src: url("/fonts/Canaro W00 Book/Canaro W00 Book.woff2")
         format("woff2"),
      /* chrome firefox */
         url("/fonts/Canaro W00 Book/Canaro W00 Book.woff")
         format("woff"),
      /* chrome firefox */
         url("/fonts/Canaro W00 Book/Canaro W00 Book.ttf")
         format("truetype"),
      /* chrome firefox opera Safari, Android, iOS 4.2+*/
         url("/fonts/Canaro W00 Book/Canaro W00 Book.svg") format("svg"); /* iOS 4.1- */
   font-display: swap;
}

@font-face {
   font-family: "CanaroW00-Bold";
   src: url("/fonts/Canaro W00 Bold/Canaro W00 Bold.eot"); /* IE9*/
   src: url("/fonts/Canaro W00 Bold/Canaro W00 Bold.woff2")
         format("woff2"),
      /* chrome firefox */
         url("/fonts/Canaro W00 Bold/Canaro W00 Bold.woff")
         format("woff"),
      /* chrome firefox */
         url("/fonts/Canaro W00 Bold/Canaro W00 Bold.ttf")
         format("truetype"),
      /* chrome firefox opera Safari, Android, iOS 4.2+*/
         url("/fonts/Canaro W00 Bold/Canaro W00 Bold.svg") format("svg"); /* iOS 4.1- */
   font-display: swap;
}

@import "bootstrap/scss/bootstrap";
// @import '~bootstrap-vue/src/index.scss';

.bg-header {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: auto;
   padding-top: 80px;
   color: white;
}

.header-content {
   min-height: 70vh;
}

.title {
   color: $secondary;
   text-transform: uppercase;
}

.btn {
   font-family: "CanaroW00-Medium", sans-serif;
}

.text-light {
   color: white !important;
}

.medium-text {
   font-family: "CanaroW00-Medium", sans-serif;
}

.light-text {
   font-family: "CanaroW00-Light", sans-serif;
}

.extra-light-text {
   font-family: "CanaroW00-Light", sans-serif;
   //font-family: 'CanaroW00-ExtraLight', sans-serif;
}

.book-text {
   font-family: "CanaroW00-Book", sans-serif;
}

html,
body {
   font-family: "CanaroW00-Bold", "Source Sans Pro", -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
      sans-serif;
   font-size: 15px;
   word-spacing: 1px;
   // color: #9D9D9D;
}

.section {
   padding-top: 50px;
   padding-bottom: 50px;
}

.mt-base {
   margin-top: 65px;
}

.mb-base {
   margin-bottom: 65px;
}

.my-base {
   margin-top: 65px;
   margin-bottom: 65px;
}

.py-base {
   padding-top: 65px;
   padding-bottom: 65px;
}

.bg-gray {
   background: #f3f3f3;
}

.fs-13 {
   font-size: 13px;
}

.fs-14 {
   font-size: 14px;
}

@media screen and (max-width: 768px) {
   .modal {
      padding: 0 !important; // override inline padding-right added from js
   }
   .modal .modal-dialog {
      width: 100%;
      max-width: none;
      height: 100%;
      margin: 0;
   }
   .modal .modal-content {
      height: 100%;
      border: 0;
      border-radius: 0;
   }
   .modal .modal-body {
      overflow-y: auto;
   }

   .tooltip {
      display: none !important;
   }
}

// Dark mode

.dark-bg {
   background-color: #1a1a1a !important;
}

.dark-card-bg {
   // background-color: #242424 !important;
   background-color: #242424 !important;
}

.svg-toggle {
   color: #1c1c1c 
}

[data-bs-theme="dark"] {
   $primary: #bbbbbb;
   $primary-bg-subtle:  #bbbbbb;
   $bs-primary-bg-subtle-dark:  #bbbbbb;

  //  .btn-primary {
  //    --bs-btn-bg: #{$primary};
  //  }
   .title {
      color: #e9e9e9;
      text-transform: uppercase;
   }
   .text-primary {
    color: #bbbbbb !important;
   }

   .text-secondary {
    color: #fff !important;
   }

   .svg-toggle {
      // color: #e2e2e2 /* Override for dark mode */
      color: #bbbbbb
   }
}
