<script setup></script>

<template>
   <svg
      xmlns="http://www.w3.org/2000/svg"
      width="60"
      height="66.667"
      viewBox="0 0 60 66.667"
      class="svg-toggle">
      <path
         fill="currentColor"
         d="M221.333,62.667a6.667,6.667,0,1,0-6.667,6.667,6.667,6.667,0,0,0,6.667-6.667Zm-11.111,0a4.444,4.444,0,1,1,4.444,4.444,4.444,4.444,0,0,1-4.444-4.444Z"
         transform="translate(-184.667 -50.444)" />
      <path
         fill="currentColor"
         d="M179.585,46.91a1.111,1.111,0,0,0,1.274,0,35.359,35.359,0,0,0,5.757-5.32c3.813-4.385,5.828-9.007,5.828-13.368a12.222,12.222,0,1,0-24.444,0c0,4.361,2.015,8.983,5.828,13.368a35.361,35.361,0,0,0,5.757,5.32Zm.637-28.688a10.011,10.011,0,0,1,10,10c0,7.95-7.706,14.587-10,16.387-2.3-1.8-10-8.421-10-16.387a10.011,10.011,0,0,1,10-10Z"
         transform="translate(-150.222 -16)" />
      <path
         fill="currentColor"
         d="M0,0H2.222V2.325H0Z"
         transform="matrix(0.294, -0.956, 0.956, 0.294, 15.24, 57.72)" />
      <path
         fill="currentColor"
         d="M0,0H2.222V2.325H0Z"
         transform="matrix(0.294, -0.956, 0.956, 0.294, 19.684, 59.083)" />
      <path
         fill="currentColor"
         d="M0,0H2.222V2.325H0Z"
         transform="matrix(0.294, -0.956, 0.956, 0.294, 24.129, 60.454)" />
      <path
         fill="currentColor"
         d="M99.216,168.559l-16.667-5.128-.654,2.124,13.216,4.066L70,177.348l-25.111-7.726L58.1,165.555l-.654-2.124-16.667,5.128A1.111,1.111,0,0,0,40,169.621v30a1.111,1.111,0,0,0,.784,1.062l28.889,8.889a1.111,1.111,0,0,0,.654,0l28.889-8.889a1.111,1.111,0,0,0,.784-1.062v-30a1.111,1.111,0,0,0-.784-1.062Zm-56.993,2.566L68.89,179.33v27.675l-26.667-8.2Zm28.889,35.88V179.331l26.667-8.205V198.8Z"
         transform="translate(-40 -142.954)" />
      <path
         fill="currentColor"
         d="M0,0H2.325V2.222H0Z"
         transform="matrix(0.956, -0.294, 0.294, 0.956, 44.125, 55.62)" />
      <path
         fill="currentColor"
         d="M0,0H2.325V2.222H0Z"
         transform="matrix(0.956, -0.294, 0.294, 0.956, 48.568, 54.256)" />
      <path
         fill="currentColor"
         d="M0,0H2.325V2.222H0Z"
         transform="matrix(0.956, -0.294, 0.294, 0.956, 53.016, 52.885)" />
      <path
         fill="currentColor"
         d="M116.222,269.658a1.111,1.111,0,0,0,1.111-1.111v-5.556a1.111,1.111,0,0,0-.784-1.062l-11.111-3.419A1.111,1.111,0,0,0,104,259.572v5.556a1.111,1.111,0,0,0,.784,1.062l11.111,3.419a1.116,1.116,0,0,0,.327.049Zm-1.111-2.616-8.889-2.735v-3.231l8.889,2.735Z"
         transform="translate(-95.111 -224.786)" />
      <path
         fill="currentColor"
         d="M325.333,265.128v-5.556a1.111,1.111,0,0,0-1.438-1.062l-11.111,3.419a1.111,1.111,0,0,0-.784,1.062v5.556a1.111,1.111,0,0,0,1.438,1.062l11.111-3.419A1.111,1.111,0,0,0,325.333,265.128Zm-2.222-.821-8.889,2.735v-3.231l8.889-2.735Z"
         transform="translate(-274.222 -224.786)" />
   </svg>
</template>
