<script setup>
const colorMode = useColorMode();
</script>

<template>
   <svg
      xmlns="http://www.w3.org/2000/svg"
      width="68.005"
      height="75.692"
      viewBox="0 0 68.005 75.692"
      class="svg-toggle">
      <g transform="translate(0.004)">
         <g transform="translate(39.913 12.27)">
            <path
               fill="currentColor"
               d="M297.478,83a1.478,1.478,0,1,0,1.478,1.478A1.478,1.478,0,0,0,297.478,83Z"
               transform="translate(-296 -83)" />
         </g>
         <g transform="translate(25.13 12.27)">
            <path
               fill="currentColor"
               d="M197.478,83a1.478,1.478,0,1,0,1.478,1.478A1.478,1.478,0,0,0,197.478,83Z"
               transform="translate(-196 -83)" />
         </g>
         <path
            fill="currentColor"
            d="M92.1,44.183a11.822,11.822,0,0,0,1.9-6.34A10.267,10.267,0,0,0,90.255,29.9a9.993,9.993,0,0,0,.788-3.883,11.019,11.019,0,0,0-5.976-9.745A8.86,8.86,0,0,0,78.339,6.6,10.65,10.65,0,0,0,68.87,0,10.389,10.389,0,0,0,60,5.324,10.389,10.389,0,0,0,51.13,0a10.649,10.649,0,0,0-9.469,6.6,8.859,8.859,0,0,0-6.729,9.668,11.019,11.019,0,0,0-5.976,9.745,9.993,9.993,0,0,0,.788,3.883A10.268,10.268,0,0,0,26,37.843a11.821,11.821,0,0,0,1.9,6.339,10.205,10.205,0,0,0,1.186,13.251c-1.011,6.134,3.88,12.341,10.214,12.341h.135A11.654,11.654,0,0,0,60,69.257a11.654,11.654,0,0,0,20.561.514H80.7c5.609,0,10.348-4.942,10.348-10.791a9.462,9.462,0,0,0-.133-1.55A10.205,10.205,0,0,0,92.1,44.183Zm-33.575-21.8a5.875,5.875,0,0,0-2.957-.8,1.479,1.479,0,1,0,0,2.957,2.96,2.96,0,0,1,2.954,2.96V55.608a11.8,11.8,0,0,0-8.87-4.016,1.478,1.478,0,1,0,0,2.957,8.88,8.88,0,0,1,8.87,8.87c0,5.048-4.062,9.313-8.87,9.313a8.894,8.894,0,0,1-8.027-5.156,1.479,1.479,0,0,0-1.508-.846l-.312.04c-4.207.575-8.945-4.189-7.662-9.518a1.478,1.478,0,0,0-.492-1.482,7.359,7.359,0,0,1-2.7-5.655,7.274,7.274,0,0,1,1.085-3.8,9.974,9.974,0,0,0,6.307,2.326,1.479,1.479,0,0,0,0-2.957c-4.012,0-7.391-3.662-7.391-7.835a7.349,7.349,0,0,1,3.451-6.229,1.478,1.478,0,0,0,.5-1.979,7.274,7.274,0,0,1-.99-3.618c0-3.99,3.252-7.835,7.391-7.835,3.937,0,7.391,3.661,7.391,7.835a1.479,1.479,0,0,0,2.957,0c0-5.849-4.739-10.791-10.348-10.791a9.586,9.586,0,0,0-1.475.116v-.116a5.914,5.914,0,0,1,10.1-4.181,1.479,1.479,0,1,0,2.09-2.092,8.81,8.81,0,0,0-4.9-2.491,7.468,7.468,0,0,1,6.01-3.511c3.937,0,7.391,3.661,7.391,7.835ZM83.655,48.64a9.977,9.977,0,0,0,6.307-2.325,7.274,7.274,0,0,1,1.085,3.8,7.359,7.359,0,0,1-2.694,5.655,1.478,1.478,0,0,0-.492,1.482,7.294,7.294,0,0,1,.23,1.733c0,4.589-4.15,8.3-7.892,7.785-.1-.014-.208-.028-.313-.04a1.477,1.477,0,0,0-1.508.846,8.9,8.9,0,0,1-8.027,5.156c-4.808,0-8.87-4.265-8.87-9.313a8.88,8.88,0,0,1,8.87-8.87,1.478,1.478,0,1,0,0-2.957,11.8,11.8,0,0,0-8.871,4.017V27.5a2.96,2.96,0,0,1,2.957-2.957,1.479,1.479,0,0,0,0-2.957,5.875,5.875,0,0,0-2.957.8V10.791c0-4.174,3.454-7.835,7.391-7.835a7.468,7.468,0,0,1,6.022,3.506,8.81,8.81,0,0,0-4.9,2.491,1.478,1.478,0,1,0,2.089,2.092,5.914,5.914,0,0,1,10.1,4.181c0,.039,0,.077,0,.116a9.586,9.586,0,0,0-1.475-.116c-5.609,0-10.348,4.942-10.348,10.791a1.479,1.479,0,1,0,2.957,0c0-4.174,3.454-7.835,7.391-7.835,4.136,0,7.391,3.843,7.391,7.835a7.274,7.274,0,0,1-.99,3.618,1.478,1.478,0,0,0,.5,1.978,7.35,7.35,0,0,1,3.452,6.23c0,4.188-3.391,7.835-7.391,7.835a1.479,1.479,0,0,0,0,2.957Z"
            transform="translate(-26)" />
         <g transform="translate(11.826 24.539)">
            <path
               fill="currentColor"
               d="M123.363,173.1a1.478,1.478,0,0,0-2.087-.116,7.4,7.4,0,0,1-12.319-5.509,1.479,1.479,0,0,0-2.957,0,10.363,10.363,0,0,0,8.663,10.208,4.443,4.443,0,0,1-4.228,3.1,1.479,1.479,0,1,0,0,2.957,7.4,7.4,0,0,0,7.259-6,10.33,10.33,0,0,0,5.553-2.546,1.478,1.478,0,0,0,.116-2.094Z"
               transform="translate(-106 -166)" />
         </g>
         <g transform="translate(11.826 57.504)">
            <path
               fill="currentColor"
               d="M107.478,389a1.479,1.479,0,0,0,0,2.957c3.937,0,7.391,3.661,7.391,7.835a1.479,1.479,0,1,0,2.957,0C117.826,393.942,113.087,389,107.478,389Z"
               transform="translate(-106 -389)" />
         </g>
         <g transform="translate(13.363 45.678)">
            <path
               fill="currentColor"
               d="M128.165,309a13.277,13.277,0,0,0-11.575,6.742,1.478,1.478,0,1,0,2.572,1.458,10.325,10.325,0,0,1,9-5.244,1.479,1.479,0,0,0,0-2.957Z"
               transform="translate(-116.398 -309)" />
         </g>
         <g transform="translate(38.435 24.539)">
            <path
               fill="currentColor"
               d="M299.3,180.783a4.443,4.443,0,0,1-4.228-3.1,10.363,10.363,0,0,0,8.663-10.208,1.479,1.479,0,1,0-2.957,0,7.391,7.391,0,0,1-12.319,5.509,1.478,1.478,0,0,0-1.971,2.2,10.331,10.331,0,0,0,5.553,2.546,7.4,7.4,0,0,0,7.259,6,1.478,1.478,0,0,0,0-2.957Z"
               transform="translate(-286 -166)" />
         </g>
         <g transform="translate(44.348 57.504)">
            <path
               fill="currentColor"
               d="M336.348,389C330.739,389,326,393.942,326,399.791a1.479,1.479,0,1,0,2.957,0c0-4.174,3.454-7.835,7.391-7.835a1.479,1.479,0,0,0,0-2.957Z"
               transform="translate(-326 -389)" />
         </g>
         <g transform="translate(41.391 45.678)">
            <path
               fill="currentColor"
               d="M319.053,315.742A13.275,13.275,0,0,0,307.478,309a1.479,1.479,0,0,0,0,2.957,10.326,10.326,0,0,1,9,5.244,1.478,1.478,0,1,0,2.572-1.458Z"
               transform="translate(-306 -309)" />
         </g>
      </g>
   </svg>
</template>
