<script setup>
import { Carousel, Navigation, Slide } from "vue3-carousel";

import "vue3-carousel/dist/carousel.css";

const partnersImages = ref([
   "/img/home-page/partners/iziway.webp",
   "/img/home-page/partners/pwc.webp",
   "/img/home-page/partners/globeed.webp",
   "/img/home-page/partners/schoolgood.webp",
   "/img/home-page/partners/saint_jean.webp",
   "/img/home-page/partners/finu.webp",
   "/img/home-page/partners/bantu.webp",
   "/img/home-page/partners/zener.webp",
   "/img/home-page/partners/jfn-univ.webp",
   "/img/home-page/partners/padidja.webp",
   "/img/home-page/partners/dream_cash.webp",
]);

// carousel settings
const settings = reactive({
   itemsToShow: 2,
   snapAlign: "center",
   itemsToScroll: 1,
});

// breakpoints are mobile first
// any settings not specified will fallback to the carousel settings
const breakpoints = reactive({
   // 700px and up
   700: {
      itemsToShow: 3,
      snapAlign: "center",
      itemsToScroll: 1,
   },
   // 1024 and up
   1024: {
      itemsToShow: 4,
      snapAlign: "start",
      itemsToScroll: 1,
   },
});

</script>

<template>
   <Carousel 
      v-bind="settings"
      :breakpoints="breakpoints"
      :autoplay="2000" :wrap-around="true"
      class="partners_slider">
      <template #slides>
         <Slide v-for="(image, index) in partnersImages" :key="i">
            <NuxtImg format="webp"  :src="image" alt="Partners logo" />
         </Slide>
         <!-- <Slide :index=1 
            ><NuxtImg format="webp" src="/img/home-page/partners/iziway.webp" alt="Photo"
         /></Slide>
         <Slide :index=2
            ><NuxtImg format="webp" src="/img/home-page/partners/pwc.webp" alt="Photo"
         /></Slide>
         <Slide :index=3
            ><NuxtImg format="webp"
               src="/img/home-page/partners/globeed.webp"
               alt="Photo"
         /></Slide>
         <Slide :index=4
            ><NuxtImg format="webp"
               src="/img/home-page/partners/schoolgood.webp"
               alt="Photo"
         /></Slide>
         <Slide :index=5
            ><NuxtImg format="webp"
               src="/img/home-page/partners/saint_jean.webp"
               alt="Photo"
         /></Slide>
         <Slide :index=6
            ><NuxtImg format="webp" src="/img/home-page/partners/finu.webp" alt="Photo"
         /></Slide>
         <Slide :index=7
            ><NuxtImg format="webp" src="/img/home-page/partners/bantu.webp" alt="Photo"
         /></Slide>
         <Slide :index=8
            ><NuxtImg format="webp"
               
               src="/img/home-page/partners/zener.webp"
               alt="Photo"
         /></Slide>
         <Slide :index=9
            ><NuxtImg format="webp"
               
               src="/img/home-page/partners/jfn-univ.webp"
               alt="Photo"
         /></Slide>
         <Slide :index=10
            ><NuxtImg format="webp"
               
               src="/img/home-page/partners/padidja.webp"
               alt="Photo"
         /></Slide>
         <Slide :index=11
            ><NuxtImg format="webp"
               
               src="/img/home-page/partners/dream_cash.webp"
               alt="Photo"
         /></Slide> -->
      </template>

      <template #addons>
         <Navigation />
      </template>
   </Carousel>
</template>

<style lang="scss" scoped>
.partners_slider {
   
   .carousel__slide {
      img {
         width: 80%;
         height: 5rem;
         padding: 0;
         
         @media (max-width: 740px) {
         // padding: 0 30px;
         width: 85%;
         height: 3.5rem;
      }
      }

      display: flex;
      align-items: center;
      justify-content: center;
   }
}
</style>
