<script setup>
const projects = ref([
   {
      title: "UPGESCO",
      img: "/img/home-page/projects/icons/upgesco.webp",
      background: "/img/home-page/projects/erp.webp",
      description: {
         fr: 'UPGESCO est un ERP développé par GOHZE permettant la gestion optimisée et complète de 06 aspects de l’activité d’une entreprise : <ul class="ps-0" style="list-style: none"> <li>- Le CRM (gestion de relation client)</li> <li>- La gestion de projets (Planification, suivi et évaluation)<li> <li>- La gestion financière (Comptabilité, achats, ventes)<li> <li>- La gestion logistique (Approvisionnement, gestion entrepôts, livraisons)<li> <li>- La gestion de ressources humaines (Contrats, paie, Recrutement)<li> <li>- La gestion de la production (digitalisation du processus de transformation de matières premières en produits finis)<li> </ul>',
         en: 'UPGESCO is an ERP developed by GOHZE allowing the optimized and complete management of 06 aspects of a company\'s activity: <ul class="ps-0" style="list-style: none"> <li>- CRM (customer relationship management)</li> <li>- Project management (Planning, monitoring and evaluation)<li> <li>- Financial management (Accounting, purchasing, sales)<li> <li>- Logistics management (Procurement, warehouse management, deliveries)<li> <li>- Human resources management (Contracts, payroll, Recruitment)<li> <li>- Production management (digitalization of the process of transforming raw materials into finished products)<li> </ul>',
      },
      items: {
         fr: [
            "GESTION financière",
            "GESTION du crm",
            "GESTION logistique",
            "GESTION de projet",
            "GESTION de la fabrication",
            "GESTION des ressources humaines",
         ],
         en: [
            "Financial Management",
            "Management of the crm",
            "Logistics Management",
            "Project Management",
            "Manufacturing Management",
            "Human Resource Management",
         ],
      },
   },
   {
      title: "OPEN EXAM",
      background: "/img/home-page/projects/open_exam.webp",
      img: "/img/home-page/projects/icons/open_exam.webp",
      description: {
         fr: "GOHZE se tient aux cotés des élèves afin de renforcer leurs capacités. Ils sont désormais plus autonomes grâce à sa plateforme OPENEXAM. Tout apprenant apprend de façon efficace et ciblée, grâce à des évaluations sur mesures et optimisées. Ainsi, nos apprenants ont accès à un contenu de qualité, à des évaluations ciblées qui leur permettent d’atteindre l’excellence et ce dans des délais records grâce à notre approche novatrice de l’apprentissage.",
         en: "GOHZE stands alongside the students in order to strengthen their capacities. They are now more autonomous thanks to its OPENEXAM platform. Every learner learns in an efficient and targeted manner, thanks to tailor-made and optimized assessments. Thus, our learners have access to quality content, targeted assessments that allow them to achieve excellence in record time thanks to our innovative approach to learning.",
      },
      items: {
         fr: [
            "Epreuves, concours et flash",
            "Evaluation sur mesure",
            "correction automatisé",
            "IA d'entrainement personalisé",
         ],
         en: [
            "Events, contests and flash",
            "precised evaluation",
            "automated correction",
            "personalized training AI",
         ],
      },
   },
   {
      title: "DSF GENERATOR",
      img: "/img/home-page/projects/icons/dsf.webp",
      background: "/img/home-page/projects/dsf.webp",
      description: {
         fr: "DSF GENERATOR est une solution conçue par GOHZE pour assister les entreprises et comptables dans le processus de génération des déclarations statistiques et fiscales (DSF). Nous avons à cœur de faciliter à l’extrême le travail des professionnels de la comptabilité, d’accroitre la fiabilité des résultats dans le processus de production des bilans financiers, et d’ainsi permettre l’obtention de bilans fiables et cohérents en un temps record, des déclarations 500% plus fiable avec un gain en temps de plus de 3000%",
         en: "DSF GENERATOR is a solution designed by GOHZE to assist companies and accountants in the process of generating statistical and fiscal declarations (DSF). We are committed to making the work of accounting professionals extremely easy, increasing the reliability of results in the process of producing financial statements, and thus enabling the obtaining of reliable and consistent statements in one time. record, declarations 500% more reliable with a time saving of more than 3000%",
      },
      items: {
         fr: [
            "Generation de DSF",
            "Controle de coherence des balances generales",
            "Controle de coherence des DSF",
            "Historique des données financières",
            "Portabilité dossiers clients",
         ],
         en: [
            "DSF generator",
            "Consistency check of general balances",
            "DSF consistency check",
            "Financial data history",
            "Portability of customer files",
         ],
      },
   },
   {
      title: "MOBILE PARTNER",
      img: "/img/home-page/projects/icons/mobile_partner.webp",
      background: "/img/home-page/projects/mobile_partner.webp",
      description: {
         fr: 'Avec MobilePartner, finis les problèmes d’accès au crédit de communication. Nous offrons à travers notre application la possibilité au grand public d’acheter du crédit de communication pour tous les abonnés de tous les réseaux simplement via un moyen de paiement mobile (Orange Money, MTN Mobile Money), ou bancaire (carte VISA). Nous donnons également la possibilité de mener une kyrielle de transactions financières en ligne, en vous permettant d’accéder de façon actualisée à toutes les informations pertinentes sur les différentes offres de vos opérateurs. <br/> <br/> <a class="btn btn-primary" href="https://mobilepartner.cm" target="_blank"> Explorez Mobile Partner </a>',
         en: 'With MobilePartner, no more problems accessing communication credit. We offer through our application the possibility for the general public to buy communication credit for all subscribers of all networks simply by means of mobile payment (Orange Money, MTN Mobile Money), or bank (VISA card). We also make it possible to conduct a myriad of financial transactions online, giving you up-to-date access to all the relevant information on the various offers of your operators. <br/> <br/> <a class="btn btn-primary" href="https://mobilepartner.cm" target="_blank"> Explore Mobile Partner </a>',
      },
      items: {
         fr: [
            "Achats de credits tous réseaux",
            "Multiples moyens de paiement",
            "Accès informations tous reseaux",
            "Actualité tous réseaux",
         ],
         en: [
            "Credit purchases from all networks",
            "Multiple payment methods",
            "Access to all networks",
            "News on all networks",
         ],
      },
   },
   {
      title: "GLOBEED",
      img: "/img/home-page/projects/icons/globeed.webp",
      background: "/img/home-page/projects/globeed.webp",
      description: {
         fr: 'Plateforme Camerounaise de formation complète en ligne avec pour mission d’assurer la préparation spécialisée aux concours nationaux et internationaux, une éducation primaire, secondaire et supérieure de qualité, la formation professionnelle et les formations continues. Globleed est disponible en tant qu\'application web mais en tant qu\'application mobile. <br/> <br/> <a class="btn btn-primary" href="https://globeed.education" target="_blank"> Explorez Globleed </a>',
         en: 'Cameroonian comprehensive online training platform with the mission of ensuring specialized preparation for national and international competitions, quality primary, secondary and higher education, vocational training and continuing education. Globleed is available as a web application but as a mobile application. <br/> <br/> <a class="btn btn-primary" href="https://globeed.education" target="_blank"> Explore Globleed </a>',
      },
      items: {
         fr: [
            "Cours vidéo",
            "Accés multiplatforme",
            "Evaluation automatique",
            "Réseau de professeurs et d'étudiants",
         ],
         en: [
            "Video course",
            "Multiplatform access",
            "Automatic evaluation",
            "Network of professors and students",
         ],
      },
   },
]);

// Define a reactive variable to track the active accordion item
const activeIndex = ref(0);

// Add a lifecyle hook to manipulate item as actve (open) when the component is mounted
onMounted(() => {
   // set the first accordion as active (open) when the component is mounted
   setActiveAccordion(0);
});

//Function to set the active accordion item
const setActiveAccordion = (index) => {
   activeIndex.value = index;
};

// Function to toggle the active accordion item
const toggleAccordion = (index) => {
   activeIndex.value = index === activeIndex.value ? -1 : index;
};

const colorMode = useColorMode();
</script>

<template>
   <div class="section container">
      <h3
         class="mb-md-3 text-secondary text-uppercase"
         >
         {{ $t("home.products_title") }}
      </h3>
      <div class="accordion" id="accordionFlushExample">
         <HomeProjectPresentation
            v-for="(project, i) in projects"
            :key="i"
            :tag-id="'accordion-' + i"
            :project="project"
            :visible="i == 0"
            @accordion-activate="toggleAccordion(index)" />
      </div>
   </div>
</template>
