<script setup>
const strengths = ref([
   {
      text: "home.strengths_flexibility",
      image: "/img/home-page/strengths/flexibility.webp",
   },
   {
      text: "home.strengths_methodology",
      image: "/img/home-page/strengths/methodology.webp",
   },
   {
      text: "home.strengths_quality",
      image: "/img/home-page/strengths/quality.webp",
   },
   {
      text: "home.strengths_production",
      image: "/img/home-page/strengths/production.webp",
   },
]);

const colorMode = useColorMode();
</script>

<template>
   <div class="container section section-strengths">
      <div class="row align-items-center">
         <div class="col-xl-6 col-12" data-aos="fade-up">
            <h3
               class="text-secondary mb-2"
               v-html="$t('home.strengths_title')"></h3>
            <p
               class="extra-light-text"
               style="text-align: justify"
               v-html="$t('home.strengths_description')"></p>
            <hr style="width: 25%; border-width: 2px" class="mt-base" />
            <h6>{{ $t("home.strengths_contact_us") }}</h6>
            <h3 class="contact" v-html="$t('home.strengths_contact')"></h3>
         </div>
         <div class="col-xl-6 col-12">
            <div class="row">
               <div
                  v-for="(strength, index) in strengths"
                  :key="index"
                  class="col-sm-6 text-center client-value">
                  <NuxtImg format="webp"
                     class="sm:w-1/6"
                     data-aos="zoom-in"
                     :src="strength.image"
                     alt="ourFigures" />
                  <h6
                     class="text-secondary text-uppercase medium-text mt-3"
                     >
                     {{ $t(strength.text) }}
                  </h6>
               </div>
            </div>
         </div>
      </div>
   </div>
</template>
<style lang="scss" scoped>
.client-value {
   margin-bottom: 15px;

   img {
      width: 100%;
      border-radius: 15px;
      box-shadow: 10px 10px 25px #0000002e;
   }
}
</style>
