<script setup>
import borisBioFr from "/bio/boris/fr.html";
import borisBioEn from "/bio/boris/en.html";

const users = ref([
   {
      name: "Boris FOADING",
      img: "/img/home-page/users/boris.webp",
      description: {
         fr: "CEO | CTO",
         en: "CEO | CTO",
      },
      facebook: "http://www.facebook.com/profile.php?id=100004384844184",
      instagram: "http://www.instagram.com/thebm2f?igshid=yddejwgv09gj",
      linkedin: "http://www.linkedin.com/in/boris-foading",
      biography: {
         // fr: borisBioFr,
         // en: borisBioEn,
         fr: `
         <p>Boris Martial Foading Fotso est un entrepreneur camerounais né à Baleng dans la région
  de l’ouest-Cameroun. Il a vécu son enfance auprès de ses parents qui lui ont inculqué de
  nombreuses valeurs telles que le respect, l’humilité, et la passion pour les défis, ce qui a
  contribué à faire de lui la personne travailleuse qu’il est aujourd’hui.
</p>
<p>Il a suivi ses études primaires à l’école publique annexe groupe 5 de l’ex-mairie rurale de Bafoussam. Par la suite,
  il a fait ses études secondaires dans deux établissements. D’abord au lycée bilingue de Bafoussam rural kena (6ème
  jusqu’en 4ème) puis il a rejoint le collège bilingue Maak Paulo (2nde jusqu’en Tle) où il a obtenu son baccalauréat en
  Sciences Physiques et Mathématiques en 2012. Passionné par les mathématiques et l’informatique, il intègre la même
  année et tour à tour l'École Nationale Supérieure Polytechnique de Yaoundé (ENSPY) et l’Ecole Normale Supérieure de
  Yaoundé. De son parcours dans ces différentes écoles, il devient enseignant de Mathématiques et plus tard Ingénieur de
  conception en Informatique. </p>
<p>Pendant son cursus d’ingénieur, il a mené plusieurs activités :</p>
<ul class='ml-2'>
  <li>De 2013 à 2014, il a occupé un poste d'enseignant chez <strong>Intelligentsia Corporation</strong>, et a été promu
    chef de centre de la même structure dans la ville de Bafoussam en 2015.
  </li>
  <li>En 2015, il a rejoint la société <strong>MEGASOFT</strong> où il a effectué un stage académique de 2 mois sur la
    sécurisation des données personnelles et le développement web.
  </li>
  <li>En 2016, il a développé une application en java pour le suivi du personnel à <strong>HÉLIOS</strong> (Ministère de
    la défense).
  </li>
  <li>Entre Juillet et Septembre 2017, il a travaillé sur la mise en place d’un système de gestion automatique des KPI
    du réseau data-mobile chez <strong>ORANGE Cameroun</strong> dans le cadre de son stage académique.
  </li>
  <li>Entre Mai et Juillet 2017, il a travaillé sur une application d’évaluation et d’automatisation des processus de
    création des microcentrales hydro-électriques,
  </li>
  <li>En 2018, il a mis sur pied avec son camarade l’application <strong>YoMeVoici</strong>, permettant aux camerounais
    de facilement retrouver leurs CNI perdues,
  </li>
  <li>De Mars à Septembre 2018, il a effectué un stage académique de fin de formation <strong>aux brasseries du
    Cameroun</strong>. Pendant cette période il a travaillé sur le module d’automatisation du contrôle qualité au sein
    des processus de fabrication industrielle de la SABC, ce dernier devant s’intégrer dans un système MES (Manufactory
    Executive System) en cours de développement au sein de la SABC.
  </li>
</ul>


<p>Fortement attiré par l'entrepreneuriat et la création de valeurs, il décida de se lancer à la concrétisation de son
  rêve en fin d’année 2018 ; pragmatique confirmé, il fit de l’entrepreneuriat sa principale activité quotidienne en
  s’associant à deux de ses promotionnaires pour créer l’entreprise de services numériques UPGRADE GROUPE, devenue GOHZE
  en 2019, où il occupe actuellement le poste de <strong>CTO (Chief Technical Officer)</strong>.</p>
<p>Aujourd’hui, la vie professionnelle de Boris est étroitement liée à GOHZE. Il passe ses journées à penser, analyser,
  concevoir, organiser, développer et suivre les projets. Par ailleurs, il s’occupe également de la montée en compétence
  des équipes techniques, recherche les partenariats et explore les nouvelles tendances technologiques sur le marché.
  Travailleur acharné, Boris est une personne ouverte d’esprit, humble et respectueuse qui aime aussi le football, la
  lecture et la musique classique. <strong>Pour lui, faire les mathématiques
    est un loisir !!</strong></p>

         `,
         en: `<p>Boris Martial Foading Fotso is a Cameroonian entrepreneur born in Baleng in the region
  from West Cameroon. He lived his childhood with his parents who instilled in him
  many values such as respect, humility, and passion for challenges, which has
  helped make him the hardworking person he is today.</p>
<p> He completed his primary studies at the public school annex group 5 of the former rural town hall of Bafoussam.
  Thereafter
  he completed his secondary studies in two establishments. First at the bilingual high school of Bafoussam rural kena
  (6th
  until 4th) then he joined the bilingual college Maak Paulo (2nd until Tle) where he obtained his baccalaureate in
  Physics and Mathematics in 2012. Passionate about mathematics and computer science, he integrates the same
  year and in turn the École Nationale Supérieure Polytechnique de Yaoundé (ENSPY) and the École Normale Supérieure de
  Yaoundé. From his career in these different schools, he became a teacher of Mathematics and later an Engineer of
  computer design. </p>
<p> During his engineering studies, he carried out several activities: </p>

<ul class = 'ml-2'>
  <li> From 2013 to 2014, he held a teaching position at <strong> Intelligentsia Corporation </strong>, and was promoted
    head of the center of the same structure in the city of Bafoussam in 2015.
  </li>
  <li> In 2015, he joined the company <strong> MEGASOFT </strong> where he did a 2-month academic internship on the
    securing personal data and web development.
  </li>
  <li> In 2016, he developed an application in java for personnel monitoring at <strong> HELIOS </strong> (Ministry of
    defense).
  </li>
  <li> Between July and September 2017, he worked on the implementation of an automatic KPI management system
    of the data-mobile network at <strong> ORANGE Cameroon </strong> as part of his academic internship.
  </li>
  <li> Between May and July 2017, he worked on an application for the evaluation and automation of
    creation of micro hydroelectric power stations,
  </li>
  <li> In 2018, he and his comrade set up the application <strong> YoMeVoici </strong>, allowing Cameroonians
    to easily find their lost CNIs,
  </li>
  <li> From March to September 2018, he did an end-of-training academic internship <strong> at the breweries of
    Cameroon </strong>. During this period he worked on the quality control automation module within
    industrial manufacturing processes of the SABC, the latter having to be integrated into an MES system (Manufactory
    Executive System) under development within the SABC.
  </li>
</ul>

<p> Strongly attracted by entrepreneurship and value creation, he decided to embark on the realization of his
  dream at the end of 2018; confirmed pragmatist, he made entrepreneurship his main daily activity by
  joining forces with two of its promoters to create the digital services company UPGRADE GROUPE, now GOHZE
  in 2019, where he currently holds the position of <strong> CTO (Chief Technical Officer) </strong>. </p>
<p> Today, Boris’s professional life is closely linked to GOHZE. He spends his days thinking, analyzing,
  design, organize, develop and monitor projects. In addition, he also takes care of skills development
  technical teams, seek partnerships and explore new technological trends in the market.
  A hard worker, Boris is an open-minded, humble and respectful person who also enjoys football,
  reading and classical music. <strong> For him, to do mathematics
    is a hobby !! </strong> </p>
`,
      },
   },
   {
      name: "Armel MANFOUO",
      img: "/img/home-page/users/kennedy.webp",
      description: {
         fr: "Sales Manager | Product Owner",
         en: "Sales Manager | Product Owner",
      },
      facebook: "http://www.facebook.com/profile.php?id=100004983214611",
      instagram: "http://www.instagram.com/king_kndy?igshid=zfvdhvqs9345",
      linkedin: "http://www.linkedin.com/in/armel-manfouo-kennedy-4bbba1131",
      biography: {
         // fr: "@/assets/bio/armel/fr.html",
         // en: "@/assets/bio/armel/en.html",
         fr: `<p>MANFOUO KENNEDY Armel est un entrepreneur camerounais. Aîné d’une famille de six
  enfants, il est né à Ngaoundéré dans la région de l’Adamaoua, de père et mère
  enseignants. Travailleur, visionnaire et doté d'un esprit ouvert et critique, Kennedy est une
  personne dynamique et ambitieuse. Du fait de ses multiples valeurs, il s'est bâti une bonne
  crédibilité qu'il continue d'accroître auprès de ses clients, partenaires et collaborateurs.</p>
<p>Il a suivi ses études primaires à l’école primaire bilingue de biyem-assi où il a obtenu son CEP (Certificat d’Etude
  Primaire) en 2006 ; puis il a rejoint le collège de la retraite en classe de sixième. Par la suite, il a poursuivi ses
  études au collège Mgr François Xavier Vogt où il a obtenu son baccalauréat C avec la mention Bien 3. Fortement
  intéressé par le monde des TIC, il intègre alors la prestigieuse Ecole Nationale Supérieure Polytechnique de Yaoundé,
  dont il sort en 2018 décrochant avec brio son diplôme d'ingénieur de conception en génie informatique.</p><p>Pendant
  son cursus d’ingénieur, il a enchaîné plusieurs expériences professionnelles :</p>
<ul class='ml-2'>
  <li>En 2017, il a effectué un stage académique de deux mois <strong>aux brasseries du Cameroun</strong> où il a
    développé un système de remontée d'indicateurs de performances (KPI). Il s’agit là d’un système qui permet aux
    managers de visualiser d'un coup d'œil l’historique des performances et l'état de santé présent de la totalité ou
    d'une partie de leurs structures, et d’ainsi se préparer à l'avenir.
  </li>
  <br>
  <li>En 2018, il a rejoint la société <strong>CIRAD (Centre International pour la Recherche Agronomique et le
    Développement)</strong> dans le cadre d’un stage professionnel pour une durée de 8 mois. Ce dernier portait sur la
    mise en place d'un algorithme de filtrage particulaire régularisé à régularisation optimisée dont le rôle est de
    comprendre et prédire le comportement d'un système à partir d'observations faites au fil du temps. Il a dans le
    cadre de ce travail innové en ce sens qu'il a développé un algorithme résolvant les problèmes posés par l'essentiel
    des algorithmes de filtrages existants.
  </li>
</ul><p>Afin de vivre pleinement sa passion pour l'entrepreneuriat, Kennedy a lâché prise de la plupart de ses
  occupations périphériques en fin d’année 2018 et a refusé de nombreuses propositions de contrat de travail à très
  haute rémunération dans plusieurs des plus grosses structures du Cameroun pour s’associer avec deux de ses
  promotionnaires afin de créer l’entreprise de services numériques UPGRADE GROUP SARL devenue GOHZE en 2020 ; où il
  occupe le poste de <strong>CEO (Chief Executive Officer)</strong>.</p><p>Sa vie professionnelle est positivement
  influencée par sa grande sociabilité. Kennedy vit un quotidien assez diversifié, l’ensemble de ses responsabilités
  intègre la gestion de multiples relations (réunions avec des partenaires, développement d’un bon relationnel avec ses
  équipes en interne, etc.) au profit de l’entreprise, le travail sur les projets et leur supervision, le contrôle du
  bon fonctionnement général de l’entreprise. Jeune célibataire, il profite de sa vie extra-professionnelle autour des
  jeux de société, des jeux vidéo et du sport (football, basket).</p>
`,
         en: `<p>MANFOUO KENNEDY Armel is a Cameroonian entrepreneur. Eldest of a family of six
  children, he was born in Ngaoundéré in the Adamawa region, to a father and mother
  teachers. Hardworking, visionary and endowed with an open and critical mind, Kennedy is a
  dynamic and ambitious person. Due to his multiple values, he has built a good
  credibility that it continues to increase with its customers, partners and employees.</p>
<p> He completed his primary studies at the bilingual primary school from biyem-assi where he
  obtained his CEP (Primary Study Certificate) in 2006; then he joined the sixth grade retirement college. Subsequently,
  he continued his studies at the Mgr François Xavier Vogt college where he obtained his baccalaureate C with the
  mention Bien 3. Strongly interested in the world of ICT, he then joined the prestigious Ecole Nationale Supérieure
  Polytechnique de Yaoundé, where he graduated in 2018 with flying colors as a design engineer in computer
  engineering. </p> <p> During his engineering course, he had several professional experiences: </p>
<ul class='ml-2'>
  <li> In 2017, he completed a two-month academic internship <strong> at the breweries of Cameroon </strong> where he
    developed a system for reporting performance indicators ( KPI). This is a system that allows managers to see at a
    glance the performance history and the current state of health of all or part of their structures, and thus prepare
    for the future.
  </li>
  <br>
  <li> In 2018, he joined <strong> CIRAD (International Center for Agronomic Research and Development) </strong> as part
    of a professional internship for a period of 8 months. The latter focused on the implementation of a regularized
    particle filtering algorithm with optimized regularization, the role of which is to understand and predict the
    behavior of a system from observations made over time. As part of this work, he innovated in the sense that he
    developed an algorithm solving the problems posed by most of the existing filtering algorithms.
  </li>
</ul> <p> In order to fully live his passion for entrepreneurship, Kennedy let go of most of his peripheral occupations
  at the end of 2018 and refused many proposals for very high-paying employment contracts in several of the largest
  structures in Cameroon to join forces with two of its promoters to create the digital services company UPGRADE GROUP
  SARL, which became GOHZE in 2020; where he holds the position of <strong> CEO (Chief Executive Officer) </strong>.
</p> <p> His professional life is positively influenced by his great sociability. Kennedy lives a fairly diverse daily
  life, all of his responsibilities include managing multiple relationships (meetings with partners, developing good
  relationships with his internal teams, etc.) for the benefit of the company, working on projects and their
  supervision, control of the general functioning of the company. Young single, he enjoys his extra-professional life
  around board games, video games and sports (football, basketball). </p>
`,
      },
   },
   {
      name: "Raoul DZOUKOU",
      img: "/img/home-page/users/raoul.webp",
      description: {
         fr: "Project Manager | Tech Lead",
         en: "Project Manager | Tech Lead",
      },
      facebook: "http://www.facebook.com/profile.php?id=100007848363057",
      instagram: "https://www.instagram.com/__trivialman__/",
      linkedin: "http://www.linkedin.com/in/raoul-dzoukou-kengne-b19629146",
      biography: {
         // fr: "@/assets/bio/raoul/fr.html",
         // en: "@/assets/bio/raoul/en.html",
         fr: `<p>DZOUKOU KENGNE Raoul est l’aîné d’une famille de quatre enfants et est né à Yaoundé
  dans la région du centre, d’une mère institutrice et d’un père Informaticien/Entrepreneur.
  Professionnel et assidu, Raoul est une personne très humble qui aime le travail. Il tire ses
  valeurs de ses parents, qui pour lui sont des modèles et sa principale motivation dans la
  vie de tous les jours.</p>
<p>Il a suivi ses études primaires au groupe
  scolaire bilingue les Bertillets où il a obtenu son Certificat d’études primaires en 2008. Influencé par des raisons
  indépendantes de sa volonté, il a suivi ses études secondaires dans plusieurs établissements en l'occurrence le
  collège Jean Tabi (6ème jusqu’en 4ème) où il a obtenu son Brevet d’études secondaires en classe de quatrième. Il a
  ensuite intégré le lycée bilingue d’Elig-Essono en classe de seconde et le lycée de Mballa II pour les classes de
  première et terminale, où il obtient son baccalauréat avec la mention Bien. En 2013, par sa qualité d’élève
  travailleur et déterminé à poursuivre son rêve de devenir Ingénieur, il fut admis au concours de l’Ecole Nationale
  Supérieure Polytechnique de Yaoundé. Brillant, Il est sorti de l’école exactement cinq ans plus tard avec le titre
  d’Ingénieur de conception en informatique. Sans hésitation et surtout avec beaucoup de convictions, il a pris la
  décision de se lancer dans le monde de l’entrepreneuriat.</p><p>De corollaire avec ses objectifs de se familiariser
  avec le monde professionnel et de renforcer sa formation par la mise en œuvre de ses compétences pratiques sur des
  projets réels, Raoul ne s’est pas lassé d’effectuer de multiples stages dans diverses entreprises :</p>
<ul class='ml-2'>
  <li>En 2017, il a effectué un stage académique de 2 mois chez <strong>UFI Payment Solutions</strong>, une entreprise
    qui fournit des solutions informatiques pour le transfert d’argent sur des terminaux de paiement électroniques,
  </li>
  <li>De Février à Mai 2018, il a effectué un stage professionnel chez <strong>SOCIETE GENERALE CAMEROUN</strong>, où il
    a assuré l’intérim au poste de chef de projet durant la période allant de juin à juillet 2018,
  </li>
  <li>En septembre 2018, il intègre l’équipe de création de la jeune entreprise de services Informatiques Upgrade Group
    (connue sous le nom de <strong>GOHZE</strong> actuellement) où il occupe actuellement les postes de <strong>Directeur
      financier</strong> et <strong>chef de projet</strong>.
  </li>
</ul><p>Ses valeurs personnelles contribuent à faire de lui une personne très méthodique dans son travail et son
  expérience à GOHZE est plutôt agréable en ce sens qu’il entretient un bon relationnel avec ses collaborateurs. La vie
  professionnelle de Raoul est beaucoup plus axée sur les activités au sein de l’entreprise GOHZE, où il se charge
  d’effectuer les réunions de collaboration, de définir les tâches à effectuer sur les projets à sa charge, de s'assurer
  de la réalisation effective des tâches planifiées dans les délais, de la gestion des finances, de la planification du
  budget de l’entreprise, de la gestion et la supervision des stagiaires à sa charge. Jeune célibataire, il profite de
  sa vie extra-professionnelle autour des séries, des jeux vidéo, des dessins animés et en pratiquant du football.</p>
`,
         en: `<p>DZOUKOU KENGNE Raoul is the eldest of a family of four children and was born in Yaoundé
  in the central region, a mother teacher and a father IT / Entrepreneur.
  Professional and hardworking, Raoul is a very humble person who enjoys work. He pulls his
  values of his parents, who for him are models and his main motivation in
  everyday life.</p>
<p> He completed his primary studies at the bilingual
  school group Les Bertillets where he obtained his Primary school certificate in 2008. Influenced by reasons beyond his
  control, he completed his secondary studies in several establishments, namely the Jean Tabi college (6th to 4th) where
  he obtained his Brevet d'études secondary in fourth grade. He then entered the bilingual high school of Elig-Essono in
  the second class and the high school of Mballa II for the first and final classes, where he obtained his baccalaureate
  with honors. In 2013, by his quality of hardworking student and determined to pursue his dream of becoming an
  engineer, he was admitted to the competitive examination of the Ecole Nationale Supérieure Polytechnique de Yaoundé.
  Brilliant, he left school exactly five years later with the title of Computer Design Engineer. Without hesitation and
  above all with a lot of convictions, he made the decision to embark on the world of entrepreneurship. </p> <p> As a
  corollary with his objectives to familiarize himself with the professional world and to strengthen his training
  through implementing his practical skills on real projects, Raoul never tired of doing multiple internships in various
  companies: </p>
<ul class='ml-2'>
  <li> In 2017, he completed a 2-month academic internship at <strong> UFI Payment Solutions </strong>, a company that
    provides IT solutions for the transfer of money on electronic payment terminals,
  </li>
  <li> From February in May 2018, he completed a professional internship at <strong> SOCIETE GENERALE CAMEROUN </strong>,
    where he acted as interim project manager during the period from June to July 2018,
  </li>
  <li> In September 2018, he joined the creation team of the young IT services company Upgrade Group (currently known as
    <strong> GOHZE </strong>) where he currently holds the positions of <strong> Chief Financial Officer </strong> and
    <strong> Project Manager </strong>.
  </li>
</ul> <p> His personal values help to make him a very methodical person in his work and his experience at GOHZE is
  rather pleasant in that he maintains good relations with his collaborators. Raoul's professional life is much more
  focused on activities within the GOHZE company, where he is responsible for carrying out collaboration meetings,
  defining the tasks to be carried out on the projects under his charge, ensuring the effective completion of planned
  tasks on time, financial management, planning of the company's budget, management and supervision of trainees in his
  charge. Young single, he enjoys his extra-professional life around series, video games, cartoons and playing
  football. </p>
`,
      },
   },
   {
      name: "Kevin TEGUIA",
      img: "/img/home-page/users/kevin.webp",
      description: {
         fr: "Business Developer | Project Manager",
         en: "Business Developer | Project Manager",
      },
      facebook: "http://www.facebook.com/profile.php?id=100001347513192",
      linkedin: "http://www.linkedin.com/in/kevin-teguia-369457b6",
      biography: {
         // fr: "@/assets/bio/kevin/fr.html",
         // en: "@/assets/bio/kevin/en.html",
         fr: `<p>KEVIN TEGUIA est un entrepreneur camerounais, très brave et talentueux vivant dans
  son pays natal. Travailleur, Kevin est également une personne rigoureuse et honnête qui
  a nourri le rêve de devenir un entrepreneur depuis son enfance.</p>
<p>Tout au long de son cursus scolaire, il a toujours été un élément remarquable qui attirait l’attention sur lui grâce
  à son
  travail félicitant ; il était tout simplement un génie. À l'âge de trois ans, il commence son cursus scolaire à
  l’école maternelle du centre dans la ville de Dschang. Il a ensuite effectué ses études à l’école primaire du centre
  au terme desquelles il fut admis au concours d’entrée en classe de sixième, au lycée bilingue de la même ville, avec
  un rang de premier. Brillant élève, qu’il était, Kevin clôture ses études secondaires étant classé 5e national à
  l’examen du Baccalauréat C, avec une moyenne supérieure à 17/20 en 2013. Comme le sang suit la veine, Kevin présenta
  le concours de la prestigieuse Ecole Nationale Supérieure Polytechnique de Yaoundé la même année. Il a été admis à ce
  dernier en occupant un rang de cinquième national. Au cours de ses études supérieures, Kevin se vit attribuer le petit
  nom de “Monsieur Cinquième” car il continuait de garder son rang de 5e dans toutes les classes. Il ressort de cette
  école en 2018, avec le titre d’ingénieur de conception informatique obtenu avec la mention “très bien”.</p>
<p>Au cours de ses études d’ingénieur, Kevin ne s’est pas privé de débuter sa carrière professionnelle à côté de ses
  stages
  académiques. Il a occupé de nombreuses fonctions dans plusieurs entreprises :</p>

<ul>
  <li>En 2016 il était à la fois directeur marketing centre de préparation aux concours nommé “Leaders Corporation” qui
    a connu du succès
  </li>
  <li>En 2017 il a occupé le poste de Directeur Général chez ASUS, une structure spécialisée dans le soutien scolaire et
    le coaching à domicile.
  </li>
  <li>En 2018, il effectue un stage académique chez TERATRONICS SARL parallèlement à son poste de Directeur général
    adjoint à Leader’s Corporation
  </li>
  <li>A la fin de l’année 2018, il travaille comme développeur web full stack chez ITS SERVICES SARL où il fut promu
    chef de pôle recherche et développement en moins d’un an de travail.
  </li>
  <li>Parallèlement à son poste de développeur chez ITS SERVICES SARL, il rejoint ses camarades de promotion pour fonder
    la structure UPGRADE GROUP SARL devenue Gohze en 2020.
  </li>
  <li>En juillet 2020, il démissionne de ITS pour concentrer toute son énergie au développement de Gohze, entreprise au
    sein de laquelle il occupe un poste de Business Developer/ Chef de projet.
  </li>
</ul>

<p>Son amour pour l’informatique est devenu une passion pour lui. En effet, Il est particulièrement intéressé par
  l'évolution des nouvelles technologies. Son quotidien à Gohze est de rechercher les nouvelles opportunités dans le but
  d’amener l’entreprise à aller de l’avant. Il s’occupe également de la gestion de projets et du renforcement des
  relations avec les clients. Outre cette passion pour l’informatique, il aime les séries d’animation, la rumba
  congolaise, la musique urbaine camerounaise, le sport (tennis), l'histoire et plus précisément celle de l’Afrique.
  Très attaché à sa famille, il aime par-dessus tout passer du temps avec sa fiancée et leurs deux vaillants
  garçons.</p>
`,
         en: `<p>KEVIN TEGUIA is a Cameroonian entrepreneur, very brave and talented living in
  his native country. Hardworking, Kevin is also a rigorous and honest person who
  nurtured the dream of becoming an entrepreneur since childhood.</p>
<p> Throughout
  throughout his school career, he was always a remarkable element who drew attention to himself thanks to his
  congratulating work; he was simply a genius. At the age of three, he began his school studies at
  the center nursery school in the city of Dschang. He then studied at the center primary school
  at the end of which he was admitted to the entrance examination for the sixth grade, at the bilingual high school in the same city, with
  a rank of first. A brilliant student he was, Kevin finished high school being ranked 5th nationally in
  the Baccalaureate C exam, with an average of over 17/20 in 2013. As blood follows the vein, Kevin presented
  the competition of the prestigious National Polytechnic School of Yaoundé the same year. He was admitted to this
  last by occupying a rank of fifth national. During his graduate studies, Kevin was awarded the small
  name of “Mr. Fifth” because he continued to keep his rank of 5th in all classes. It emerges from this
  school in 2018, with the title of computer design engineer obtained with the mention "very good". </p>
<p> During his engineering studies, Kevin did not hesitate to start his professional career alongside his
  academic internships. He has held many positions in several companies: </p>

<ul>
  <li> In 2016 he was at the same time marketing director of the competition preparation center named “Leaders Corporation” which
    has been successful
  </li>
  <li> In 2017 he held the position of Managing Director at ASUS, a structure specializing in tutoring and
    home coaching.
  </li>
  <li> In 2018, he completed an academic internship at TERATRONICS SARL in parallel with his position of General Manager
    Deputy Leader's Corporation
  </li>
  <li> At the end of 2018, he worked as a full stack web developer at ITS SERVICES SARL where he was promoted
    head of the research and development department in less than a year of work.
  </li>
  <li> Along with his position as developer at ITS SERVICES SARL, he joined his fellow students to found
    the UPGRADE GROUP SARL structure which became Gohze in 2020.
  </li>
  <li> In July 2020, he resigned from ITS to concentrate all his energy on the development of Gohze, a company in
    in which he holds a position of Business Developer / Project Manager.
  </li>
</ul>
<p> His love for computers grew into a passion for him. Indeed, he is particularly interested in
  the evolution of new technologies. His daily life in Gohze is to seek new opportunities in order to
  to move the company forward. He is also responsible for project management and strengthening
  customer relations. Besides this passion for computers, he likes animation series, rumba
  Congolese, Cameroonian urban music, sport (tennis), history and more specifically that of Africa.
  Very attached to his family, he loves above all spending time with his fiancée and their two valiant people.
  boys. </p>
`,
      },
   },
]);
const user = ref(null);

function setCurrent(newUser) {
   user.value = newUser;
   console.log(user.value);
}

const colorMode = useColorMode();
</script>

<template>
   <div class="section bg-gray" :class="{ 'dark-bg': colorMode == 'dark' }">
      <div class="container">
         <h1 class="title mb-sm-4">{{ $t("home.team_title") }}</h1>
         <div class="row">
            <div class="col-lg-4 mt-lg-3 align-self-center">
               <p class="extra-light-text" style="text-align: justify">
                  {{ $t("home.team_description") }} <br />
                  <span class="fst-italic">{{
                     $t("home.team_contact_us")
                  }}</span>
               </p>
            </div>
            <div class="col-lg-8">
               <div class="row users justify-content-center">
                  <div
                     class="col-xl-3 col-sm-4 col-6 px-2 mb-4"
                     v-for="(user, i) in users"
                     :key="i">
                     <!-- Trigger modal -->
                     <HomeUser
                        :user="user"
                        style="height: 100%; cursor: pointer"
                        data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop"
                        @click.native="setCurrent(user)" />
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- Modal -->
   <div
      class="modal fade"
      id="staticBackdrop"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg">
         <div class="modal-content">
            <div class="modal-header" style="border: none">
               <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <div v-if="user" class="p-0">
                  <div class="text-center">
                     <NuxtImg format="webp" style="border-radius: 50%" :src="user.img" />
                     <div class="p-4">
                        <div class="bold-text">
                           {{ user.name }}, <br />
                           <span
                              class="text-uppercase"
                              style="color: peru; font-size: 0.75rem">
                              {{ user.description[$i18n.locale] }}
                           </span>
                        </div>
                        <a
                           :href="user.linkedin"
                           v-if="user.linkedin"
                           target="_blank">
                           <NuxtImg format="webp"
                              src="/img/socials/linkedin.png"
                              alt=""
                              style="width: 40px" />
                        </a>
                        <a
                           :href="user.instagram"
                           v-if="user.instagram"
                           target="_blank"
                           class="mx-2">
                           <NuxtImg format="webp"
                              src="/img/socials/instagram.png"
                              alt=""
                              style="width: 40px" />
                        </a>
                        <a
                           target="_blank"
                           :href="user.facebook"
                           v-if="user.facebook"
                           class="mx-2">
                           <NuxtImg format="webp"
                              src="/img/socials/facebook.png"
                              alt=""
                              style="width: 40px" />
                        </a>
                     </div>
                  </div>

                  <div
                     class="col-12 pt-3"
                     style="
                        margin: 0cm 0cm 0.0001pt;
                        text-indent: 0px;
                        text-align: justify;
                        line-height: normal;
                     ">
                     <div
                        v-html="user.biography[$i18n.locale]"
                        class="light-text ps-3 pe-3"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</template>

<style lang="scss" scoped>
// .dark-bg {
//    background-color: #0f0f0f;
// }
</style>
