<script setup>
const props = defineProps({
   project: Object,
   tagId: String,
   accordion: { default: "accordion" },
   visible: { type: Boolean },
});

const colorMode = useColorMode()
</script>

<template>
   <div v-if="tagId === 'accordion-0'"
      class="accordion-item"
      style="border-top: white; border-left: white; border-right: white">
      <h2 class="accordion-header" :id="`flush-${tagId}`" style="border: white">
         <button
            class="accordion-button collapsed fs-5"
            :class="{'project-title-dark': colorMode == 'dark'}"
            type="button"
            data-bs-toggle="collapse"
            :data-bs-target="`#flush-collapse${tagId}`"
            aria-expanded="false"
            :aria-controls="`flush-collapse${tagId}`"
            style="border-bottom: white !important">
            <NuxtImg format="webp" :src="project.img" width="50px" alt="logo" />
            {{ project.title }}
         </button>
      </h2>
      <div
         :id="`flush-collapse${tagId}`"
         class="accordion-collapse collapse show"
         :aria-labelledby="`flush-heading${tagId}`"
         data-bs-parent="#accordionFlushExample"
         style="position: relative; border-top: white !important">
         <div class="row no-gutters">
            <div class="col-lg-4 col-md-6 d-flex align-items-center pl-2">
               <div
                  class="extra-light-text fw-bold"
                  v-html="project.description[$i18n.locale]"></div>
            </div>
            <div class="col-lg-8 col-md-6 pl-3">
               <NuxtImg format="webp" class="w-100 h-auto" :src="project.background" alt="background" />
               <div
                  class="position-absolute element"
                  style="right: 10px; top: 50px">
                  <div
                     class="bo px-2"
                     v-for="(item, i) in project.items[$i18n.locale]"
                     :key="i">
                     <span class="tex book-text">{{ item }}</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div v-else
      class="accordion-item"
      style="border-top: white; border-left: white; border-right: white">
      <h2 class="accordion-header" :id="`flush-${tagId}`" style="border: white">
         <button
            class="accordion-button collapsed fs-5"
            :class="{'project-title-dark': colorMode == 'dark'}"
            type="button"
            data-bs-toggle="collapse"
            :data-bs-target="`#flush-collapse${tagId}`"
            aria-expanded="false"
            :aria-controls="`flush-collapse${tagId}`"
            style="border-bottom: white !important">
            <NuxtImg format="webp" :src="project.img" width="50px" alt="logo" style="border-radius: 50%; background-color: white; margin-right: 0.5rem;"/>
            {{ project.title }}
         </button>
      </h2>
      <div
         :id="`flush-collapse${tagId}`"
         class="accordion-collapse collapse"
         :aria-labelledby="`flush-heading${tagId}`"
         data-bs-parent="#accordionFlushExample"
         style="position: relative; border-top: white !important">
         <div class="row no-gutters">
            <div class="col-lg-4 col-md-6 d-flex align-items-center pl-2">
               <div
                  class="extra-light-text fw-bold"
                  v-html="project.description[$i18n.locale]"></div>
            </div>
            <div class="col-lg-8 col-md-6 pl-3">
               <NuxtImg format="webp" class="w-100 h-auto" :src="project.background" alt="background" />
               <div
                  class="position-absolute element"
                  style="right: 10px; top: 50px">
                  <div
                     class="bo px-2"
                     v-for="(item, i) in project.items[$i18n.locale]"
                     :key="i">
                     <span class="tex book-text">{{ item }}</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</template>

<style lang="scss" scoped>
.proj {
   border-bottom: 1px solid rgba(#707070, 0.25);
   margin-bottom: 10px;
   padding-bottom: 10px;

   .trigger {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #f1f1f1;
      cursor: pointer;
   }

   .collapsed .when-open,
   .not-collapsed .when-closed {
      display: none;
   }
}

.bo {
   height: 50px;
   background: #ffffff 0% 0% no-repeat padding-box;
   box-shadow: 0px 0px 28px #00000029;
   border-radius: 8px;
   margin: 10px;
   border-left: 10px solid #ababab;
   display: flex;
   align-items: center;
   font-size: 13px;
}

.tex {
   letter-spacing: 0px;
   color: #545454;
   text-transform: uppercase;
}

@media only screen and (max-width: 992px) {
   .element {
      position: relative !important;
      top: 0px !important;
      right: 0px !important;
   }
}

.project-title-dark {
   background-color: $body-bg-dark;
}

</style>
