<script setup>
const props = defineProps({ user: Object });
const colorMode = useColorMode();
</script>

<template>
   <div
      class="user"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      data-bs-trigger="hover focus"
      :title="$t('home.voir_plus')"
      data-aos="fade-up">
      <NuxtImg format="webp" :src="user.img" alt="Photo" />
      <h6 class="bold-text">
         <span style="color: #212529">{{ props.user.name }},</span><br />
         <span class="text-uppercase" style="color: peru; font-size: 0.75rem">
            {{ props.user.description[$i18n.locale] }}
         </span>
      </h6>
   </div>
</template>

<style scoped lang="scss">
.user {
   text-align: center;
   box-shadow: 0px 0px 13px #00000017;
   border-radius: 15px;
   padding: 5px;
   background-color: white;
   flex: 0 0;

   img {
      width: 80%;
      margin-top: 20px;
      margin-bottom: 20px;
   }
}
</style>
