<script setup></script>
<template>
   <svg
      xmlns="http://www.w3.org/2000/svg"
      width="55"
      height="51.182"
      viewBox="0 0 55 51.182"
      class="svg-toggle">
      <g transform="translate(0 -1.934)">
         <path
            fill="currentColor"
            d="M36.416,23.418a1.074,1.074,0,1,0-1.074-1.074A1.075,1.075,0,0,0,36.416,23.418Z" />
         <path
            fill="currentColor"
            d="M7.842,8.379A1.074,1.074,0,1,0,6.768,7.3,1.075,1.075,0,0,0,7.842,8.379Z" />
         <path
            fill="currentColor"
            d="M12.692,36.946l1.628.7a5.4,5.4,0,0,0,4.232,0l1.627-.7a21.23,21.23,0,0,0,2.128-1.059,20.806,20.806,0,0,0,12.514,16.1l1.628.7a5.4,5.4,0,0,0,4.232,0l1.627-.7A20.7,20.7,0,0,0,55,33.227V20.2a3.226,3.226,0,0,0-3.223-3.223H32.871V5.156a3.226,3.226,0,0,0-3.223-3.223H3.223A3.226,3.226,0,0,0,0,5.156V18.187A20.7,20.7,0,0,0,12.692,36.946ZM52.852,20.2V33.227a18.649,18.649,0,0,1-11.39,16.785l-1.627.7a3.241,3.241,0,0,1-2.539,0l-1.628-.7A18.566,18.566,0,0,1,24.328,34.583a21.317,21.317,0,0,0,4.024-3.823,5.369,5.369,0,0,0,7-.091,1.074,1.074,0,1,0-1.422-1.611,3.224,3.224,0,0,1-4.263,0c-.015-.014-.032-.026-.049-.039a19.927,19.927,0,0,0,3.23-9.9H51.777A1.075,1.075,0,0,1,52.852,20.2ZM2.148,5.156A1.075,1.075,0,0,1,3.223,4.082H29.648a1.075,1.075,0,0,1,1.074,1.074V18.187a18.526,18.526,0,0,1-11.39,16.785l-1.627.7a3.242,3.242,0,0,1-2.54,0l-1.628-.7A18.649,18.649,0,0,1,2.148,18.187Z" />
         <path
            fill="currentColor"
            d="M22.881,21.27H9.99a1.074,1.074,0,0,0-1.074,1.074,7.52,7.52,0,0,0,15.039,0A1.074,1.074,0,0,0,22.881,21.27Zm-6.445,6.445a5.382,5.382,0,0,1-5.263-4.3H21.7A5.382,5.382,0,0,1,16.435,27.715Z" />
         <path
            fill="currentColor"
            d="M9.99,14.824a3.219,3.219,0,0,1,2.132.806,1.074,1.074,0,1,0,1.422-1.611,5.371,5.371,0,0,0-7.106,0A1.074,1.074,0,0,0,7.859,15.63,3.219,3.219,0,0,1,9.99,14.824Z" />
         <path
            fill="currentColor"
            d="M19.328,14.019a1.074,1.074,0,1,0,1.421,1.611,3.224,3.224,0,0,1,4.263,0,1.074,1.074,0,1,0,1.422-1.611,5.372,5.372,0,0,0-7.106,0Z" />
         <path
            fill="currentColor"
            d="M12.139,8.379H25.029a1.074,1.074,0,0,0,0-2.148H12.139a1.074,1.074,0,0,0,0,2.148Z" />
         <path
            fill="currentColor"
            d="M31.045,43.828A1.074,1.074,0,0,0,32.119,44.9H45.01a1.074,1.074,0,0,0,1.074-1.074,7.52,7.52,0,0,0-15.039,0Zm7.52-5.371a5.381,5.381,0,0,1,5.263,4.3H33.3A5.381,5.381,0,0,1,38.564,38.457Z" />
         <path
            fill="currentColor"
            d="M47.141,29.058a3.223,3.223,0,0,1-4.263,0,1.074,1.074,0,1,0-1.421,1.611,5.37,5.37,0,0,0,7.106,0,1.074,1.074,0,0,0-1.421-1.611Z" />
         <path
            fill="currentColor"
            d="M40.713,23.418h6.445a1.074,1.074,0,0,0,0-2.148H40.713a1.074,1.074,0,0,0,0,2.148Z" />
         <path
            class="a"
            d="M7.842,8.379A1.074,1.074,0,1,0,6.768,7.3,1.075,1.075,0,0,0,7.842,8.379Z" />
         <path
            class="a"
            d="M22.881,21.27H9.99a1.074,1.074,0,0,0-1.074,1.074,7.52,7.52,0,0,0,15.039,0A1.074,1.074,0,0,0,22.881,21.27Zm-6.445,6.445a5.382,5.382,0,0,1-5.263-4.3H21.7A5.382,5.382,0,0,1,16.435,27.715Z" />
         <path
            class="a"
            d="M9.99,14.824a3.219,3.219,0,0,1,2.132.806,1.074,1.074,0,1,0,1.422-1.611,5.371,5.371,0,0,0-7.106,0A1.074,1.074,0,0,0,7.859,15.63,3.219,3.219,0,0,1,9.99,14.824Z" />
         <path
            class="a"
            d="M19.328,14.019a1.074,1.074,0,1,0,1.421,1.611,3.224,3.224,0,0,1,4.263,0,1.074,1.074,0,1,0,1.422-1.611,5.372,5.372,0,0,0-7.106,0Z" />
         <path
            class="a"
            d="M12.139,8.379H25.029a1.074,1.074,0,0,0,0-2.148H12.139a1.074,1.074,0,0,0,0,2.148Z" />
      </g>
   </svg>
</template>

<style>
.a {
   fill: #ffb500;
}
</style>
