<script setup></script>
<template>
   <svg
      xmlns="http://www.w3.org/2000/svg"
      width="52.149"
      height="50"
      viewBox="0 0 52.149 50"
      class="svg-toggle">
      <path
         fill="currentColor"
         d="M52.086,28.172a6.084,6.084,0,0,0-5.153-5.153v-1.58a7.671,7.671,0,0,0-7.388-7.909A7.7,7.7,0,0,0,32.158,21.2h.05l-.05.009V38.34c0,5.476-4.094,9.922-9.126,9.922s-9.126-4.453-9.126-9.922V36.856c1.26,0,2.607-.913,2.607-3.477V31.194a12.326,12.326,0,0,0,9.561-11.646V17.735H24.336L24.3,6.423a4.35,4.35,0,0,0-3.576-4.254,2.594,2.594,0,1,0-.059,1.772,2.607,2.607,0,0,1,1.894,2.487L22.6,17.735H20.859v1.837a6.911,6.911,0,0,1-5,6.485,7.9,7.9,0,0,1-4.78,0,6.908,6.908,0,0,1-4.992-6.485V17.735H3.477V6.436A2.607,2.607,0,0,1,5.406,3.929a2.62,2.62,0,1,0-.054-1.765A4.346,4.346,0,0,0,1.738,6.436v11.3H0v1.808A12.325,12.325,0,0,0,9.561,31.194v2.186c0,2.563,1.347,3.477,2.607,3.477V38.34c0,6.432,4.873,11.66,10.864,11.66S33.9,44.765,33.9,38.34V21.253a5.948,5.948,0,0,1,5.65-5.982A5.934,5.934,0,0,1,45.2,21.442v1.577a6.084,6.084,0,1,0,6.891,5.153ZM18.252,3.829a.869.869,0,1,1,.869-.869A.869.869,0,0,1,18.252,3.829ZM7.822,2.09a.869.869,0,1,1-.869.869A.869.869,0,0,1,7.822,2.09ZM1.738,19.543v-.069H4.346v.1a8.636,8.636,0,0,0,6.2,8.138,9.671,9.671,0,0,0,5.839,0A8.637,8.637,0,0,0,22.6,19.572v-.1h1.738v.069c0,4.835-3.727,9.089-8.865,10.119a12.4,12.4,0,0,1-3.667.18,11.36,11.36,0,0,1-1.2-.182C5.465,28.632,1.738,24.378,1.738,19.543Zm10.43,15.575c-.782,0-.869-1.217-.869-1.738V31.535c.07.009.141.012.211.019.087.01.174.017.261.024.411.036.826.061,1.244.062h.043c.417,0,.831-.025,1.239-.062.087-.008.179-.015.269-.024.069-.008.14-.01.208-.019v1.844c0,.521-.087,1.738-.869,1.738Zm33.9-1.738a4.346,4.346,0,1,1,4.346-4.346A4.346,4.346,0,0,1,46.064,33.379Z" />
      <path
         class="b"
         d="M46.065,26.426a2.607,2.607,0,1,0,2.607,2.608A2.607,2.607,0,0,0,46.065,26.426Zm0,3.477a.869.869,0,1,1,.869-.869A.869.869,0,0,1,46.065,29.9Z" />
      <path
         class="b"
         d="M17.983,0a2.7,2.7,0,1,0,2.7,2.7A2.7,2.7,0,0,0,17.983,0Zm0,3.6a.9.9,0,1,1,.9-.9A.9.9,0,0,1,17.983,3.6Z" />
      <path
         class="b"
         d="M8.092,0a2.7,2.7,0,1,0,2.7,2.7A2.7,2.7,0,0,0,8.092,0Zm0,3.6a.9.9,0,1,1,.9-.9A.9.9,0,0,1,8.092,3.6Z" />
   </svg>
</template>

<style>
.a {
   fill: #333;
}
.b {
   fill: #ffb500;
}
</style>
