<script setup></script>
<template>
   <svg
      xmlns="http://www.w3.org/2000/svg"
      width="61"
      height="43.717"
      viewBox="0 0 61 43.717"
      class="svg-toggle">
      <g transform="translate(0 -8.642)">
         <path
            fill="currentColor"
            d="M60.838,34.525l-9.15-14.233a1.017,1.017,0,0,0-.855-.467H39.65a1.016,1.016,0,0,0-1.017,1.017V46.258a1.016,1.016,0,0,0,1.017,1.017h4.067V45.242h-3.05V21.858h9.611l8.688,13.516v9.868H53.883v2.033h6.1A1.016,1.016,0,0,0,61,46.258V35.075A1.014,1.014,0,0,0,60.838,34.525Z" />
         <path
            fill="currentColor"
            d="M44.734,33.042V25.925h8.133V23.892h-9.15A1.016,1.016,0,0,0,42.7,24.908v9.15a1.016,1.016,0,0,0,1.017,1.017h15.25V33.042H44.734Z" />
         <path
            fill="currentColor"
            d="M39.65,12.708H1.017A1.017,1.017,0,0,0,0,13.725V46.258a1.016,1.016,0,0,0,1.017,1.017H9.15V45.242H2.033v-30.5h36.6v30.5H19.317v2.033H39.65a1.016,1.016,0,0,0,1.017-1.017V13.725A1.016,1.016,0,0,0,39.65,12.708Z" />
         <path fill="currentColor" d="M7.117,41.175h-6.1v2.033h6.1Z" />
         <path fill="currentColor" d="M38.633,41.175H21.35v2.033H38.633Z" />
         <path fill="currentColor" d="M59.983,41.175H55.917v2.033h4.067Z" />
         <path fill="currentColor" d="M39.65,16.775H4.067v2.033H39.65Z" />
         <path fill="currentColor" d="M15.25,45.242H13.217v2.033H15.25Z" />
         <path fill="currentColor" d="M49.817,45.242H47.783v2.033h2.033Z" />
         <path class="a" d="M18.3,8.642H4.067v2.033H18.3Z" />
         <path class="a" d="M2.033,8.642H0v2.033H2.033Z" />
         <path
            class="a"
            d="M48.8,40.158a6.1,6.1,0,1,0,6.1,6.1A6.106,6.106,0,0,0,48.8,40.158Zm0,10.167a4.067,4.067,0,1,1,4.067-4.067A4.071,4.071,0,0,1,48.8,50.325Z" />
         <path
            class="a"
            d="M14.233,40.158a6.1,6.1,0,1,0,6.1,6.1A6.106,6.106,0,0,0,14.233,40.158Zm0,10.167A4.067,4.067,0,1,1,18.3,46.258,4.071,4.071,0,0,1,14.233,50.325Z" />
      </g>
   </svg>
</template>

<style>
.a {
   fill: #ffb500;
}
</style>
