<p>KEVIN TEGUIA is a Cameroonian entrepreneur, very brave and talented living in
  his native country. Hardworking, Kevin is also a rigorous and honest person who
  nurtured the dream of becoming an entrepreneur since childhood.</p>
<p> Throughout
  throughout his school career, he was always a remarkable element who drew attention to himself thanks to his
  congratulating work; he was simply a genius. At the age of three, he began his school studies at
  the center nursery school in the city of Dschang. He then studied at the center primary school
  at the end of which he was admitted to the entrance examination for the sixth grade, at the bilingual high school in the same city, with
  a rank of first. A brilliant student he was, Kevin finished high school being ranked 5th nationally in
  the Baccalaureate C exam, with an average of over 17/20 in 2013. As blood follows the vein, Kevin presented
  the competition of the prestigious National Polytechnic School of Yaoundé the same year. He was admitted to this
  last by occupying a rank of fifth national. During his graduate studies, Kevin was awarded the small
  name of “Mr. Fifth” because he continued to keep his rank of 5th in all classes. It emerges from this
  school in 2018, with the title of computer design engineer obtained with the mention "very good". </p>
<p> During his engineering studies, Kevin did not hesitate to start his professional career alongside his
  academic internships. He has held many positions in several companies: </p>

<ul>
  <li> In 2016 he was at the same time marketing director of the competition preparation center named “Leaders Corporation” which
    has been successful
  </li>
  <li> In 2017 he held the position of Managing Director at ASUS, a structure specializing in tutoring and
    home coaching.
  </li>
  <li> In 2018, he completed an academic internship at TERATRONICS SARL in parallel with his position of General Manager
    Deputy Leader's Corporation
  </li>
  <li> At the end of 2018, he worked as a full stack web developer at ITS SERVICES SARL where he was promoted
    head of the research and development department in less than a year of work.
  </li>
  <li> Along with his position as developer at ITS SERVICES SARL, he joined his fellow students to found
    the UPGRADE GROUP SARL structure which became Gohze in 2020.
  </li>
  <li> In July 2020, he resigned from ITS to concentrate all his energy on the development of Gohze, a company in
    in which he holds a position of Business Developer / Project Manager.
  </li>
</ul>
<p> His love for computers grew into a passion for him. Indeed, he is particularly interested in
  the evolution of new technologies. His daily life in Gohze is to seek new opportunities in order to
  to move the company forward. He is also responsible for project management and strengthening
  customer relations. Besides this passion for computers, he likes animation series, rumba
  Congolese, Cameroonian urban music, sport (tennis), history and more specifically that of Africa.
  Very attached to his family, he loves above all spending time with his fiancée and their two valiant people.
  boys. </p>
