<p>Boris Martial Foading Fotso est un entrepreneur camerounais né à Baleng dans la région
  de l’ouest-Cameroun. Il a vécu son enfance auprès de ses parents qui lui ont inculqué de
  nombreuses valeurs telles que le respect, l’humilité, et la passion pour les défis, ce qui a
  contribué à faire de lui la personne travailleuse qu’il est aujourd’hui.
</p>
<p>Il a suivi ses études primaires à l’école publique annexe groupe 5 de l’ex-mairie rurale de Bafoussam. Par la suite,
  il a fait ses études secondaires dans deux établissements. D’abord au lycée bilingue de Bafoussam rural kena (6ème
  jusqu’en 4ème) puis il a rejoint le collège bilingue Maak Paulo (2nde jusqu’en Tle) où il a obtenu son baccalauréat en
  Sciences Physiques et Mathématiques en 2012. Passionné par les mathématiques et l’informatique, il intègre la même
  année et tour à tour l'École Nationale Supérieure Polytechnique de Yaoundé (ENSPY) et l’Ecole Normale Supérieure de
  Yaoundé. De son parcours dans ces différentes écoles, il devient enseignant de Mathématiques et plus tard Ingénieur de
  conception en Informatique. </p>
<p>Pendant son cursus d’ingénieur, il a mené plusieurs activités :</p>
<ul class='ml-2'>
  <li>De 2013 à 2014, il a occupé un poste d'enseignant chez <strong>Intelligentsia Corporation</strong>, et a été promu
    chef de centre de la même structure dans la ville de Bafoussam en 2015.
  </li>
  <li>En 2015, il a rejoint la société <strong>MEGASOFT</strong> où il a effectué un stage académique de 2 mois sur la
    sécurisation des données personnelles et le développement web.
  </li>
  <li>En 2016, il a développé une application en java pour le suivi du personnel à <strong>HÉLIOS</strong> (Ministère de
    la défense).
  </li>
  <li>Entre Juillet et Septembre 2017, il a travaillé sur la mise en place d’un système de gestion automatique des KPI
    du réseau data-mobile chez <strong>ORANGE Cameroun</strong> dans le cadre de son stage académique.
  </li>
  <li>Entre Mai et Juillet 2017, il a travaillé sur une application d’évaluation et d’automatisation des processus de
    création des microcentrales hydro-électriques,
  </li>
  <li>En 2018, il a mis sur pied avec son camarade l’application <strong>YoMeVoici</strong>, permettant aux camerounais
    de facilement retrouver leurs CNI perdues,
  </li>
  <li>De Mars à Septembre 2018, il a effectué un stage académique de fin de formation <strong>aux brasseries du
    Cameroun</strong>. Pendant cette période il a travaillé sur le module d’automatisation du contrôle qualité au sein
    des processus de fabrication industrielle de la SABC, ce dernier devant s’intégrer dans un système MES (Manufactory
    Executive System) en cours de développement au sein de la SABC.
  </li>
</ul>


<p>Fortement attiré par l'entrepreneuriat et la création de valeurs, il décida de se lancer à la concrétisation de son
  rêve en fin d’année 2018 ; pragmatique confirmé, il fit de l’entrepreneuriat sa principale activité quotidienne en
  s’associant à deux de ses promotionnaires pour créer l’entreprise de services numériques UPGRADE GROUPE, devenue GOHZE
  en 2019, où il occupe actuellement le poste de <strong>CTO (Chief Technical Officer)</strong>.</p>
<p>Aujourd’hui, la vie professionnelle de Boris est étroitement liée à GOHZE. Il passe ses journées à penser, analyser,
  concevoir, organiser, développer et suivre les projets. Par ailleurs, il s’occupe également de la montée en compétence
  des équipes techniques, recherche les partenariats et explore les nouvelles tendances technologiques sur le marché.
  Travailleur acharné, Boris est une personne ouverte d’esprit, humble et respectueuse qui aime aussi le football, la
  lecture et la musique classique. <strong>Pour lui, faire les mathématiques
    est un loisir !!</strong></p>
