<script setup>
import LogoIonitronImage from "./design/LogoIonitronImage.vue";
import TimeIcon from "./contact/Images/TimeIcon.vue";
import LocationIcon from "./contact/Images/LocationIcon.vue";
import EmailIcon from "./contact/Images/EmailIcon.vue";
import PhoneIcon from "./contact/Images/PhoneIcon.vue";



const services = ref([
   "footer.digital_transformation",
   "footer.software_engineering",
   "footer.artificial_intelligence",
   "footer.cloud",

]);

const localPath = useLocalePath();
const colorMode = useColorMode();
</script>

<template>
   <div class="footer pt-5 ">
      <div class="container-fluid  ">
         <div class="row mx-2 px-2 justify-content-center d-flex flex-direction-row">
            <div class="col-md-2 col-sm-6 mb-5 me-4" >
               <NuxtLink to="/">
                  <img class="w-100" style="max-width: 200px" src="@/assets/img/logo.png" alt="Photo" />
               </NuxtLink>
               <p class="fst-italic mt-2">{{ $t("footer.title") }}</p>
               <TopSocials class="text-center" />
            </div>
            <div class="col-md-2 col-sm-6 mb-4 ">
               <h3 class="d-flex align-items-center" v-html="$t('footer.expertise_title')"></h3>
               <div class="row">
                  <ul class="list text-wrap" :class="{ 'dark-list': colorMode == 'dark' }">
                  <li class="text-wrap" v-for="service in services" :key="service" style="
                           font: normal normal normal 15px/18px
                           'CanaroW00-Light';
                     
                     ">
                     {{ $t(service) }}
                  </li>
               </ul>
               </div>
            </div>
            <div class="col-md-2 col-sm-6 mb-4 ">
               <h4 class="" v-html="$t('footer.service_title')"></h4>
               <ul class="list" :class="{ 'dark-list': colorMode == 'dark' }">
                  <div class="row mb-3 mt-1">
                     <span :class="{ 'text-secondary': colorMode == 'dark' }" class="footer-link text-white" style="
                     font-size: 16px;
                     color: #ffffff;
                     font: normal normal normal 15px/18px
                           'CanaroW00-Light';
                  ">
                        <NuxtLink 
                        :to="localPath('/full-stack-web-development')" 
                        class=" text-white"
                        style="text-decoration: none;"
                        >{{ $t("footer.web_development") }}</NuxtLink>

                     </span>
                  </div>
                  <div class="row mb-3">
                     <span 
                     :class="{ 'text-secondary': colorMode == 'dark' }" 
                     class="text-white" style="
                     font-size: 16px;
                     color: #ffffff;
              font: normal normal normal 15px/18px
                           'CanaroW00-Light';
                  ">
                        <NuxtLink 
                        :to="localPath('/mobile-app')" 
                        class="footer-link text-white"
                        style="text-decoration: none;"
                        >{{ $t("footer.mobile_application") }}</NuxtLink>
                     </span>
                  </div>
                  <div class="row mb-3">
                     <span :class="{ 'text-secondary': colorMode == 'dark' }" class="text-white" style="
                     font-size: 16px;
                     color: #ffffff;
                     font: normal normal normal 15px/18px
                           'CanaroW00-Light';
                  ">
                        <NuxtLink 
                        :to="localPath('/design')" 
                        class="footer-link text-white" 
                        style="text-decoration: none;"
                        >{{ $t("footer.graphic_design") }}</NuxtLink>
                     </span>
                  </div>
                  <div class="row ">
                     <span :class="{ 'text-secondary': colorMode == 'dark' }" class="text-white" style="
                     font-size: 16px;
                     color: #ffffff;
                     font: normal normal normal 15px/18px
                           'CanaroW00-Light';
                  ">{{ $t("footer.consulting") }}</span>
                  </div>
               </ul>
            </div>
            
            <div class="col-md-3 col-sm-6 mb-4 " >
               <h3 v-html="$t('footer.contact_title')"></h3>
               <div class="row mb-2 px-3">
                  <div class="row col-2 px-0  ">
                     <PhoneIcon style="height: 30px; width: 30px; padding-right: 0px;"/>
                  </div>
                  <div class="col-10 px-1">
                     <span style="font-size: 16px; font: normal normal normal 15px/18px
                           'CanaroW00-Medium'
                     ">+237 </span><span style="
               font-size: 16px;
               font: normal normal normal 15px/18px
                           'CanaroW00-Medium';
                     
               "><a href="tel:+237695926394" class="decoration-on-hover text-white">695926394</a>/<a
                           href="tel:+237675286667" class="text-white decoration-on-hover">675286667</a></span>
                  </div>
               </div>
               <div class="row mb-3">
                  <div class="col-1 me-1 px-3">
                     <EmailIcon style="height: 20px; width: 20px; padding-right: 0px; padding-left: 2px;"/>
                  </div>
                  <div class="col-10">
                     <a href="mailto:contact@gohze.org" style="
                  font-size: 16px;
                  font: normal normal normal 15px/18px
                           'CanaroW00-Medium';
               
                  margin-left: 4px;
                     padding-top: 6px;
                  " class="decoration-on-hover text-white">contact@gohze.org</a>
                  </div>
               </div>
               <div class="row mb-2">
                  <div class="col-1 ">
                     <LocationIcon style="height: 23px; width: 23px; padding-right: 0px;"/>
                  </div>
                  <div class="row col-10">
                     <span 
                     :class="{ 'text-secondary': colorMode == 'dark' }" 
                     class="text-white" style="
                     font-size: 16px;
                     color: #ffffff;
                     font: normal normal normal 15px/18px
                           'CanaroW00-Medium';
               
                     margin-left: 4px;
                     padding-top: 6px;
                  ">{{ $t("footer.location") }}</span>
                  </div>
               </div>

               <div class="row mb-2 col-10 px-0">
                  <div class="col-1 px-3 me-3">

                     <TimeIcon style="height: 25px; width: 25px; padding-right: 5px;"/>
                  </div>
                  <div :class="{ 'text-secondary': colorMode == 'dark' }" class="md-no-wrap col-8 px-0" style="
                     font-size: 16px;
                     color: #ffffff;
                     font-weight: 200;
                     font: normal normal normal 15px/18px
                           'CanaroW00-Medium';
                     padding-top: 6px;
                     
                  ">{{ $t("footer.work_hours") }}</div>
               </div>
            </div>
         </div>
         <div class="mt-1 pb-1 extra-light-text d-flex flex-wrap justify-content-sp-between justify-content-center">
            <span class="justify-content-space-between  mx-3">COPYRIGHT © 2021 - 2024 GOHZE   </span> <span class="justify-content-space-between mx-4">{{ $t("footer.rights") }}</span>
         </div>
      </div>
   </div>
</template>

<style scoped lang="scss">
.footer {
   background: #000000 0% 0% no-repeat padding-box;
   opacity: 1;
   color: white;
   overflow: auto;
   width: 100%;
}

.list {
   list-style: none;
   padding-left: 0;

   li {
      margin-bottom: 15px;

      &:before {
         content: "";
         background: $primary;
         width: 10px;
         display: inline-block;
         font-weight: 200;
         height: 10px;
         //border-radius: 50%;
         margin-right: 10px;
      }
   }
}

.dark-list {
   li {
      &:before {
         background: white !important;
      }
   }
}

.links a {
   color: white !important;
}

.align {
   height: 120px;
}

.decoration-on-hover {
   text-decoration: none;

   &:hover {
      text-decoration: underline;
   }
}
@media only screen and (max-width: 993px) {
   .align {
      height: 150px !important;
   }
}

@media only screen and (max-width: 766px) {
   .align {
      height: auto !important;
   }
}
@media only screen and (min-width: 993px) {
   .md-no-wrap {
      text-wrap: nowrap;
   }
  
}
@media (max-width: 767px) {
  .nav-section {
    margin: 0;
    padding: 0;
  }
}
</style>
