<script setup>
const { locale } = useI18n();
const switchLocalePath = useSwitchLocalePath();
const localPath = useLocalePath();

const isSticky = ref(false);
const stickyClass = "is_sticky";
const scrollPosition = ref(0);
const isNavMobileVisible = ref(false);

const handleScroll = (event) => {
   fixNav();
};

const colorMode = useColorMode();

const toggleIsNavMobileVisible = () => {
   isNavMobileVisible.value = !isNavMobileVisible.value;
   fixNav();
};

const fixNav = () => {
   if (isNavMobileVisible.value) {
      isSticky.value = true;
      return;
   }

   scrollPosition.value = window.scrollY;
   if (scrollPosition.value >= 50) {
      isSticky.value = true;
   } else {
      isSticky.value = false;
   }
};

function toggleColorMode() {
   var element = document.body;
   element.dataset.bsTheme =
      element.dataset.bsTheme == "light" ? "dark" : "light";
   colorMode.value = element.dataset.bsTheme;
   localStorage.setItem("theme", colorMode.value);
}

onBeforeMount(() => {
   if (process.browser) {
      window.addEventListener("scroll", handleScroll);
      // document.body.dataset.bsTheme = colorMode.value
   }
});

onBeforeUnmount(() => window.removeEventListener("scroll", handleScroll));
</script>

<template>
   <nav
      class="navbar navbar-expand-lg navbar-dark nav-pad fixed-top top-0 bg-transparent"
      :class="isSticky ? stickyClass : ''">
      <div class="container">
         <NuxtLink :to="localPath('/')">
            <img height="50" src="/img/logo.png" alt="gohze logo" />
         </NuxtLink>

         <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
            @click="toggleIsNavMobileVisible">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav align-items-center ms-auto mb-2 mb-lg-0">
               <li class="nav-item">
                  <NuxtLink
                     :to="localPath('/')"
                     class="nav-link"
                     aria-current="page"
                     >{{ $t("header.home") }}</NuxtLink
                  >
               </li>
               <li class="nav-item dropdown">
                  <a
                     href="#"
                     class="nav-link dropdown-toggle"
                     id="navbarDropdown"
                     role="button"
                     data-bs-toggle="dropdown"
                     aria-expanded="false">
                     {{ $t("header.services") }}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                     <li>
                        <NuxtLink
                           :to="localPath('/mobile-app')"
                           class="dropdown-item"
                           >{{ $t("header.mobile_application") }}</NuxtLink
                        >
                     </li>
                     <li>
                        <NuxtLink
                           :to="localPath('/full-stack-web-development')"
                           class="dropdown-item"
                           >{{ $t("header.web_development") }}</NuxtLink
                        >
                     </li>
                     <li>
                        <NuxtLink
                           :to="localPath('/design')"
                           class="dropdown-item"
                           >{{ $t("header.graphic_design") }}</NuxtLink
                        >
                     </li>
                  </ul>
               </li>

               <li class="nav-item">
                  <NuxtLink
                     :to="localPath('/portfolio')"
                     class="nav-link"
                     aria-current="page"
                     >{{ $t("header.realisation") }}</NuxtLink
                  >
               </li>
               <li
                  class="nav-item btn btn-white contact-link d-flex align-items-center">
                  <NuxtLink
                     :to="localPath('/contact')"
                     class="nav-link"
                     aria-current="page"
                     >{{ $t("header.contact") }}</NuxtLink
                  >
               </li>
               <li
                  v-if="locale !== 'en'"
                  class="nav-item d-flex align-items-center mx-2 my-3">
                  <NuxtLink :to="switchLocalePath('en')">
                     <img
                        class="flag"
                        src="/img/flag/english.svg"
                        alt="british-flag" />
                  </NuxtLink>
               </li>
               <li
                  v-if="locale !== 'fr'"
                  class="nav-item d-flex align-items-center mx-2 my-3">
                  <NuxtLink :to="switchLocalePath('fr')">
                     <img
                        class="flag"
                        src="/img/flag/french.svg"
                        alt="french-flag" />
                  </NuxtLink>
               </li>
               <li style="margin-left: 10px">
                  <div class="form-check form-switch">
                     <input
                        class="form-check-input toggleBtn"
                        type="checkbox"
                        role="switch"
                        id="flexSwitchCheckChecked"
                        height="40px"
                        @click="toggleColorMode()" />
                     <label for="flexSwitchCheckChecked" style="color: white">{{
                        colorMode
                     }}</label>
                  </div>
               </li>
            </ul>
         </div>
      </div>
   </nav>
</template>

<style lang="scss" scoped>
.flag {
   height: 20px;
}

.nav-pad {
   padding: 0.8rem;
}

.btn-white {
   background: white;
}

.bg-transparent.is_sticky {
   background: rgba(0, 0, 0, 0.9) !important;
   transition: all 300ms;
}

@media (min-width: 992px) {
   .bg-transparent.is_sticky {
      background: rgba(0, 0, 0, 0.9) !important;
      transition: all 300ms;
   }
}

.contact-link {
   padding-top: 0px;
   padding-bottom: 0px;
   padding-left: 15px;
   padding-right: 15px;

   &:hover {
      opacity: 1;
   }
}

.contact-link a {
   font-family: "CanaroW00-Light", sans-serif;
   color: #343a40 !important;
   padding-top: 6px;
   padding-bottom: 5px;
}

.toggleBtn {
   &:hover {
      cursor: pointer;
   }
}
</style>
