<template>
  <div @click.stop>
    <Transition name="slide-fade">
      <div
        v-if="showLetsChat"
        @mouseup="handleMouseHoverOnChats"
        @mouseover="handleMouseHoverOnChats"
        class="bg-opacity-10 border-0 rounded-pill pl-4 bold"
      >
        <span style="font-size: large">Let's discuss</span>
        <img src="@/assets/img/socials/flat_plus_icon.png" alt="" />
      </div>
    </Transition>

    <Transition name="bounce">
      <div
        v-if="showContactOption"
        class="d-flex flex-column"
        @mouseleave="handleMouseNotHoverOnContacts"
      >
        <a
          @click="handleMouseNotHoverOnContacts"
          href="https://t.me/GOHZEGroup"
          target="_blank"
          data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="telegram"
        >
          <img src="@/assets/img/socials/telegram.png" alt="" />
        </a>
        <a
          @click="handleMouseNotHoverOnContacts"
          target="_blank"
          href="https://wa.me/+237695926394"
          data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="whatsapp"
        >
          <img src="@/assets/img/socials/whatsapp.png" alt="" />
        </a>
      </div>
    </Transition>
  </div>
</template>
<script>
export default {
  name: "FloatingContactButton",
  props: {
    showContactOption: Boolean,
    showLetsChat: Boolean,
    handleMouseHoverOnChats: Function,
    handleMouseNotHoverOnContacts: Function,
  },
};
</script>

<style scoped lang="scss">
a {
  margin-top: 5px;
}

img {
  width: 45px;
  margin-top: 0px;
  &:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.4s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from, .slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

.bounce-enter-active {
  animation: bounce-in 0.3s ease-in-out;
}
.bounce-leave-active {
  animation: bounce-in 0.4s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
</style>
