<script setup>
const props = defineProps({
   technologies: {
      required: true,
      type: Object,
   },
});

const activeGroup = ref("front-end");

const colorMode = useColorMode();
</script>

<template>
   <div class="section">
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <slot></slot>
               <div class="d-flex flex-md-column flex-wrap mt-4">
                  <h5
                     v-if="technologies['front-end']"
                     class="technology-group-title"
                     :class="{ active: activeGroup === 'front-end' }"
                     @click="activeGroup = 'front-end'">
                     FRONT END
                  </h5>
                  <h5
                     v-if="technologies['back-end']"
                     class="technology-group-title"
                     :class="{ active: activeGroup === 'back-end' }"
                     @click="activeGroup = 'back-end'">
                     BACK END
                  </h5>
                  <h5
                     v-if="technologies['database']"
                     class="technology-group-title"
                     :class="{ active: activeGroup === 'database' }"
                     @click="activeGroup = 'database'">
                     DATABASE
                  </h5>
               </div>
            </div>
            <div class="col-md-6">
               <div class="technology-group row">
                  <div
                     v-for="(technology, i) in technologies[activeGroup]"
                     :key="i + activeGroup"
                     class="col-lg-4 col-md-6 col-sm-4 col-6 mb-4">
                     <div
                        class="technology-item bg-white h-100 p-4 d-flex flex-column justify-content-center align-items-center shadow"
                        :class="{ 'dark-card-bg': colorMode == 'dark' }"
                        data-aos="flip-up"
                        data-aos-easing="ease-out-cubic">
                        <NuxtImg
                           format="webp"
                           height=60
                           class="mw-100"
                           :src="technology.image"
                           alt="" />
                        <span>{{ technology.name }}</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</template>

<style lang="scss" scoped>
.technology-group-title {
   cursor: pointer;
   position: relative;
   margin-bottom: 20px;
   margin-right: 20px;

   &.active {
      color: $primary;

      &:before {
         content: "";
         position: absolute;
         bottom: -5px;
         background: $primary;
         height: 3px;
         width: 80px;
      }
   }
}

.technology-group {
   .technology-item {
      cursor: pointer;
      text-transform: uppercase;
      font-size: 13px;

      &:hover {
         color: $primary;
      }
   }
}
</style>
