<script setup></script>
<template>
   <svg
      version="1.1"
      id="Layer_1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="0 0 122.88 119.31"
      style="enable-background: new 0 0 122.88 119.31"
      xml:space="preserve"
      class="svg-toggle">
      <g>
         <path
            fill="currentColor"
            d="M24.27,8.54h75.82c1.39,0,2.47,1.17,2.47,2.54v4.42l18.5,4.96c1.35,0.36,2.08,1.77,1.73,3.1l-20.23,75.48v17.73 c0,1.38-1.08,2.54-2.47,2.54H24.27c-1.4,0-2.47-1.17-2.47-2.54v-12.18L0.09,23.55c-0.35-1.32,0.38-2.74,1.73-3.1L21.8,15.1v-4.01 C21.8,9.72,22.88,8.54,24.27,8.54L24.27,8.54z M102.56,20v62.82l15.71-58.61l0,0L102.56,20L102.56,20z M21.8,88.37V19.6L4.61,24.21 l0,0L21.8,88.37L21.8,88.37z M47.83,0.08l20.04,5.37H51.07l-2.71-0.73l-0.2,0.73h-4.34l0.95-3.54C45.13,0.58,46.48-0.28,47.83,0.08 L47.83,0.08z M77.71,61.69l-8.43-8.09l-1.78,10.93c-0.03,0.21-0.1,0.43-0.2,0.62c-0.1,0.19-0.24,0.37-0.42,0.52 c-0.38,0.32-0.86,0.46-1.32,0.43c-0.46-0.04-0.91-0.25-1.24-0.63L51.44,50.21L37.92,62.43v4.05h48.54V52.4l-8.01,9.22 c-0.08,0.13-0.23,0.21-0.39,0.21C77.92,61.83,77.8,61.78,77.71,61.69L77.71,61.69L77.71,61.69z M78.02,56.93l8.43-10.11V33.25 H37.92v24.26c4.1-3.71,8.32-7.79,12.51-11.31c0.37-0.32,0.83-0.46,1.27-0.43c0.46,0.02,0.91,0.22,1.24,0.58l0.01,0.02 c0.02,0.02,0.04,0.04,0.06,0.07l11.52,13.63l1.71-10.51c0.09-0.48,0.36-0.88,0.73-1.15c0.37-0.26,0.84-0.4,1.33-0.32l0.05,0.01 c0.17,0.03,0.34,0.09,0.49,0.16c0.17,0.08,0.32,0.19,0.46,0.32L78.02,56.93L78.02,56.93L78.02,56.93z M69.35,33.82 c0.71,0,1.41,0.15,2.04,0.41c0.66,0.27,1.25,0.67,1.74,1.16c0.49,0.49,0.89,1.08,1.17,1.74c0.26,0.63,0.4,1.33,0.4,2.04 s-0.15,1.41-0.4,2.04c-0.27,0.66-0.67,1.25-1.16,1.74c-0.49,0.49-1.08,0.89-1.74,1.16c-0.63,0.27-1.32,0.41-2.04,0.41 c-0.71,0-1.41-0.15-2.04-0.41c-0.66-0.27-1.24-0.67-1.74-1.16c-0.49-0.49-0.89-1.08-1.17-1.74c-0.26-0.63-0.4-1.32-0.4-2.04 c0-0.71,0.15-1.41,0.4-2.04c0.27-0.66,0.67-1.25,1.16-1.74c0.49-0.49,1.08-0.89,1.74-1.16C67.94,33.96,68.63,33.82,69.35,33.82 L69.35,33.82L69.35,33.82z M70.96,37.57c-0.21-0.21-0.46-0.38-0.74-0.5c-0.26-0.11-0.56-0.17-0.87-0.17c-0.31,0-0.6,0.06-0.87,0.17 c-0.28,0.12-0.53,0.29-0.74,0.49c-0.21,0.21-0.38,0.46-0.49,0.74c-0.11,0.27-0.17,0.56-0.17,0.87c0,0.3,0.06,0.6,0.17,0.87 c0.12,0.28,0.29,0.53,0.49,0.74c0.21,0.21,0.46,0.38,0.74,0.5c0.26,0.11,0.56,0.17,0.87,0.17c0.3,0,0.6-0.06,0.87-0.17 c0.28-0.12,0.53-0.29,0.74-0.49c0.21-0.21,0.38-0.46,0.5-0.74c0.11-0.27,0.17-0.56,0.17-0.87c0-0.3-0.06-0.6-0.17-0.87 C71.34,38.03,71.17,37.78,70.96,37.57L70.96,37.57L70.96,37.57z M36.16,29.63h52.06c0.49,0,0.93,0.21,1.25,0.54 c0.32,0.32,0.51,0.78,0.51,1.27v36.85c0,0.49-0.19,0.94-0.51,1.27c-0.32,0.33-0.76,0.54-1.25,0.54H36.16 c-0.49,0-0.93-0.21-1.24-0.54c-0.32-0.32-0.51-0.78-0.51-1.27V31.44c0-0.49,0.19-0.94,0.51-1.27 C35.23,29.84,35.67,29.63,36.16,29.63L36.16,29.63L36.16,29.63z M41.54,76.05h30.72c0.29,0,0.54,0.12,0.73,0.3l0.03,0.04 c0.16,0.19,0.27,0.42,0.27,0.69v2c0,0.28-0.12,0.54-0.3,0.73c-0.19,0.19-0.44,0.3-0.73,0.3H41.54c-0.29,0-0.54-0.12-0.73-0.3 l-0.03-0.04c-0.16-0.19-0.27-0.42-0.27-0.69v-2c0-0.29,0.12-0.54,0.3-0.73C41.01,76.17,41.26,76.05,41.54,76.05L41.54,76.05 L41.54,76.05z M34.91,76.05h2.55c0.28,0,0.53,0.12,0.73,0.3c0.18,0.19,0.3,0.45,0.3,0.73v2c0,0.28-0.12,0.54-0.3,0.73 c-0.19,0.19-0.44,0.3-0.73,0.3h-2.55c-0.28,0-0.54-0.12-0.73-0.3s-0.3-0.44-0.3-0.73v-2c0-0.29,0.12-0.54,0.3-0.73 S34.63,76.05,34.91,76.05L34.91,76.05L34.91,76.05z M35.35,93.13h53.67c0.42,0,0.79,0.19,1.06,0.5c0.25,0.29,0.41,0.68,0.41,1.11 v0.4c0,0.43-0.15,0.83-0.41,1.11l-0.03,0.03c-0.26,0.29-0.63,0.46-1.03,0.46H35.35c-0.42,0-0.79-0.19-1.06-0.5 c-0.25-0.29-0.41-0.68-0.41-1.11v-0.4c0-0.43,0.16-0.83,0.41-1.11l0.03-0.03C34.59,93.31,34.94,93.13,35.35,93.13L35.35,93.13 L35.35,93.13z M35.35,84.53h53.67c0.42,0,0.79,0.19,1.06,0.5c0.25,0.29,0.41,0.68,0.41,1.11v0.4c0,0.43-0.15,0.83-0.41,1.11 l-0.03,0.03c-0.26,0.29-0.63,0.46-1.03,0.46H35.35c-0.42,0-0.79-0.19-1.06-0.5c-0.25-0.29-0.41-0.68-0.41-1.11v-0.4 c0-0.43,0.16-0.83,0.41-1.11l0.03-0.03C34.59,84.71,34.94,84.53,35.35,84.53L35.35,84.53L35.35,84.53z M98.37,12.89H26v102.08 h72.37V12.89L98.37,12.89L98.37,12.89z" />
      </g>
   </svg>
</template>
