<script setup></script>
<template>
   <svg
      width="101"
      height="107"
      viewBox="0 0 101 107"
      xmlns="http://www.w3.org/2000/svg"
      class="svg-toggle">
      <g clip-path="url(#clip0_2022_6)">
         <path
            fill="currentColor"
            d="M16.8333 0C7.5487 0 0 5.99785 0 13.375V93.625C0 101.002 7.5487 107 16.8333 107H84.1667C93.4513 107 101 101.002 101 93.625V33.4375H67.3333C62.6779 33.4375 58.9167 30.449 58.9167 26.75V0H16.8333ZM67.3333 0V26.75H101L67.3333 0ZM29.4583 53.5H71.5417C73.8563 53.5 75.75 55.0047 75.75 56.8438C75.75 58.6828 73.8563 60.1875 71.5417 60.1875H29.4583C27.1438 60.1875 25.25 58.6828 25.25 56.8438C25.25 55.0047 27.1438 53.5 29.4583 53.5ZM29.4583 66.875H71.5417C73.8563 66.875 75.75 68.3797 75.75 70.2188C75.75 72.0578 73.8563 73.5625 71.5417 73.5625H29.4583C27.1438 73.5625 25.25 72.0578 25.25 70.2188C25.25 68.3797 27.1438 66.875 29.4583 66.875ZM29.4583 80.25H71.5417C73.8563 80.25 75.75 81.7547 75.75 83.5938C75.75 85.4328 73.8563 86.9375 71.5417 86.9375H29.4583C27.1438 86.9375 25.25 85.4328 25.25 83.5938C25.25 81.7547 27.1438 80.25 29.4583 80.25Z" />
      </g>
      <defs>
         <clipPath id="clip0_2022_6">
            <rect width="101" height="107" fill="white" />
         </clipPath>
      </defs>
   </svg>
</template>
