<p>Joseph TENTCHOU YONDIA is a young Cameroonian who studied at the College Chevreul where he obtained his Bac D in
  2002, then joined a training school named Higher Institute of Management to have in three years its HND in
  Management and Computer science in 2005, then continued his training at Higher School of Science and Technics to be
  Engineers Degree in Computer Science and Automation in 2009 and completed his study cycle at ESSEC in DOUALA where he
  obtained in July 2018 a Bachelor’s degree in Management Business Administration and Management General, and completed
  with a Master in Business Administration - MBA Marketing from October 2018 to July 2020.</p>

<p>Passionate about commerce and marketing, he opened up to the business world by becoming a programmer at ISMA where he
  made 1 year of 2005 - 2006, during the same period, became International Consultant of WoungJosCam International of
  January de2005 - December 2010 in Douala. In January 2011- January 2013, he had a partnership with GUINESS Cameroon
  SA where he was PARTNER OF THE TRADE INFORMATION SYSTEM he had some sort of PERFORMANCE
  COMMERCIAL & PARCIS and was the Data Analyst. He transferred in January 2013 - September 2013 as Chef
  operation at Sanaga Boissons Services, partner of Diageo-Guiness Cameroun SA. Brilliant in trade, it
  becomes SALES DIRECTOR Groupe E-A (Industry for the production and marketing of natural fruit juices)
  from September 2013 - January 2014 in Douala. The young Cameroonian does not hesitate to gain experience in
  being RESPONSIBLE FOR COMMERCIAL DATA from February 2014- February 2015 in Central and West Africa. On behalf of
  the company UNIPAL Central and West Africa he was in 1 year 6 months STRATEGY and DEVELOPMENT MANAGER
  COMMERCIAL and in Central and West Africa from March 2015 - July 2015. In 2016 he was Director of Sales and
  marketing of LABORATOIRES GIGY PHARMA FMCG a Cosmetics factory from April 2016 - October 2018 two years seven months
  experience at BP address: 12669 Douala Zone Industrielle Bassa. He had the honor of being the head of DISTRIBUTION
  FOOD IN AFRICA from November 2018- January 2020. He finished this brilliant journey by being Commercial Director
  Network has ADISCO Africa Distribution Company the FMCG from January 2020 until today.</p>

<p>Joseph TENTCHOU YONDIA is in summary an accomplished professional in general management with more than 20 years of
  experience. professional in business development, clientele, sales, marketing, planning
  strategy and management in the country.</p>

<p>Broad leadership and operational expertise.</p>
