<script setup></script>
<template>
   <svg
      version="1.1"
      id="Layer_1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="0 0 121.93 122.88"
      style="enable-background: new 0 0 121.93 122.88"
      xml:space="preserve"
      class="svg-toggle">
      <g>
         <path
            fill="currentColor"
            d="M93.8,36.02c0,1.13-0.92,2.05-2.05,2.05s-2.05-0.92-2.05-2.05v-7.99c0-3.13-0.81-6.33-2.21-9.25 c-1.46-3.04-3.54-5.8-6.01-7.89c-5.27-4.47-12.18-6.72-19.13-6.8c-7.04-0.08-14.09,2.07-19.51,6.39c-2.62,2.09-5.01,4.82-6.68,7.88 c-1.45,2.66-2.35,5.57-2.35,8.5v9.24l0.06-0.02l1.85,2.29c-0.14-3.67-0.16-7.61,0-11.08c0.12-1.19,0.35-2.38,0.68-3.57 c2.99-10.7,15.2-16.95,25.82-16.37c8.22,0.45,15.94,3.46,20.82,9.08C89.84,24.3,88.08,34,87.85,43.6v0c1.53,0.47,2.51,1.43,2.91,3 c0.44,1.74-0.04,4.18-1.51,7.52l0,0c-0.03,0.06-0.06,0.12-0.09,0.18l-6.28,10.34c-2.42,3.98-4.88,7.98-8.15,11.05l-0.1,0.09 c0.38,0.59,0.8,1.26,1.23,1.97c1.02,1.65,2.17,3.49,3.28,5.06c6.89,5.19,24.54,6.38,31.25,10.12c2.2,1.23,4.19,2.79,5.78,4.9 c3.95,5.22,4.26,12.44,5.77,18.81c-0.35,3.76-2.48,5.92-6.68,6.24H6.68c-4.19-0.32-6.32-2.48-6.68-6.24 c1.51-6.37,1.81-13.59,5.77-18.81c1.6-2.11,3.58-3.67,5.78-4.9c6.72-3.75,24.38-4.94,31.26-10.13c1.08-2.4,2.2-6.13,2.9-8.44 l0.01-0.05h0L46,73.42c0.03-0.11,0.08-0.2,0.13-0.3c-1.97-2.35-3.67-4.99-5.3-7.58l-5.39-8.57c-0.41-0.03-0.81-0.1-1.21-0.23 c-4.32-1.36-7.9-10.96-7.2-15.49c0.4-2.57,1.31-3.49,2.78-4.05c-0.07-0.21-0.11-0.43-0.11-0.66v-9.68c0-3.64,1.09-7.21,2.86-10.45 c1.94-3.56,4.71-6.73,7.72-9.13C46.44,2.36,54.43-0.08,62.37,0c7.88,0.09,15.73,2.65,21.75,7.76c2.9,2.46,5.35,5.69,7.06,9.26 c1.66,3.48,2.63,7.28,2.63,11.02V36.02L93.8,36.02z M72.65,77.41c-3,2.2-6.62,3.57-11.23,3.56c-5.34-0.01-9.36-2.05-12.66-5.07 c-0.24-0.22-0.48-0.44-0.71-0.67c-0.91,3.03-2.52,8.37-4.03,10.67c1.74,10,5.61,17.15,9.14,24.76l4.86-16.87 c-0.62-1.05-0.91-1.97-0.95-2.76c-2.49,1.4-5.17,2.33-7.96,2.95c-3.04-3.46-3.3-7.07,0-10.9c3.73,0.94,7.16,2.54,10.31,4.7 c0.75-0.25,1.6-0.31,2.42-0.18c3.35-2.41,7.65-3.36,11.4-5.16c4.45,4.33,3.97,8.32-0.4,12.03c-2.64-0.61-5.14-1.57-7.52-2.83 c-0.03,0.64-0.19,1.36-0.5,2.15l4.86,16.87c3.76-7.91,7.67-15.76,8.56-24.74c-1.49-1.92-3.07-4.44-4.43-6.64 C73.4,78.62,73.01,77.99,72.65,77.41L72.65,77.41z M45.71,74.35L45.71,74.35l0.01-0.05h0L45.71,74.35L45.71,74.35L45.71,74.35z M38.43,45.63l2.39,6.55c0.26,0.76,0.34,1.42,0.23,1.99l0.02-0.02c3.74,4.15,8.35,7.15,13.9,8.91c0.28-0.64,0.67-1.2,1.24-1.64 c1.69-1.31,6.65-1.19,8.18,0.08c1.28,1.06,1.3,3.5,0.35,4.77c-1.98,2.65-10.22,0.42-12.98-0.47c-4.4-1.42-8.41-4.83-12.06-7.89 l3.75,5.96c2.21,3.51,4.52,7.09,7.4,9.72c2.77,2.53,6.12,4.24,10.56,4.25c4.81,0.01,8.32-1.77,11.18-4.44 c2.97-2.78,5.31-6.59,7.62-10.39l6.2-10.22c1.16-2.64,1.58-4.41,1.31-5.44c-0.16-0.62-0.84-0.92-2-0.98 c-0.25-0.01-0.5-0.01-0.76-0.01c-0.28,0.01-0.57,0.03-0.87,0.05c-0.17,0.01-0.33,0-0.48-0.03c-0.55,0.03-1.12-0.01-1.7-0.09 l2.13-9.4c-15.77,2.48-27.56-9.22-44.22-2.34l1.2,11.08c-0.67,0.03-1.31,0.01-1.9-0.08v0C38.89,45.59,38.65,45.61,38.43,45.63 L38.43,45.63z" />
      </g>
   </svg>
</template>
