<script setup></script>

<template>
   <svg
      id="Layer_1"
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 122.88 77.39"
      class="svg-toggle">
      <path
         fill="currentColor"
         d="M2.52,71.63H15.11a2.19,2.19,0,0,1-1.63-2.1V18a2.18,2.18,0,0,1,2.18-2.17h13.8l-.89,3.58H17.37V68.91h87.86V19.4h-11l-1-3.58h13.46A2.17,2.17,0,0,1,108.82,18V69.52a2.17,2.17,0,0,1-1.63,2.1h13.17c3.36,0,3.36,5.77,0,5.77H2.52c-3.36,0-3.36-5.76,0-5.76ZM57.71,0h8.58a1.15,1.15,0,0,1,1.15,1.15V4H81a4.57,4.57,0,0,1,1.1-1.75h0a4.64,4.64,0,0,1,6.58,0h0a4.64,4.64,0,0,1,0,6.58h0a4.64,4.64,0,0,1-6.58,0h0A4.61,4.61,0,0,1,81,7H74a25.23,25.23,0,0,1,6.06,4.89A27.14,27.14,0,0,1,86.72,25.7H88.6A1.37,1.37,0,0,1,90,27.08v6.29a1.37,1.37,0,0,1-1.37,1.38H82.38A1.38,1.38,0,0,1,81,33.37V27.08a1.38,1.38,0,0,1,1.38-1.38h1.44a24.26,24.26,0,0,0-5.88-11.85,22.1,22.1,0,0,0-10.5-6.47V9.83A1.15,1.15,0,0,1,66.29,11H57.71a1.14,1.14,0,0,1-1.15-1.15V7.38a22,22,0,0,0-10.7,6.74A24.57,24.57,0,0,0,40.21,25.7h1.41A1.38,1.38,0,0,1,43,27.08v6.29a1.38,1.38,0,0,1-1.38,1.38H35.4A1.38,1.38,0,0,1,34,33.37V27.08A1.38,1.38,0,0,1,35.4,25.7h1.91a27.42,27.42,0,0,1,6.42-13.47A25.13,25.13,0,0,1,50,7H41.91a4.53,4.53,0,0,1-1.1,1.74h0a4.63,4.63,0,0,1-3.29,1.37,4.7,4.7,0,0,1-3.3-1.37h0a4.64,4.64,0,0,1,0-6.58h0a4.64,4.64,0,0,1,6.58,0h0A4.57,4.57,0,0,1,41.91,4H56.56V1.15A1.14,1.14,0,0,1,57.71,0ZM74.66,40.74,70.21,52.12,53.8,51.91,49.26,40.74c3.9-7,7.87-15.49,9.91-23l2.16.24L61.25,38.1a2.12,2.12,0,1,0,1.29-.05l.06-19.91L65.08,18c1.81,7.51,5.74,16,9.58,22.71ZM69.82,57H53.88V53.82H69.82V57ZM57.87,72.58H65c1.61,0,1.61,3.13,0,3.13H57.87c-1.61,0-1.62-3.13,0-3.13Z" />
   </svg>
</template>
