<script setup>
</script>

<template>
   <svg
      width="123"
      height="119"
      viewBox="0 0 123 119"
      xmlns="http://www.w3.org/2000/svg"
      class="svg-toggle">
      <path
         fill="currentColor"
         d="M7.50998 0H115.36C117.41 0 119.29 0.85 120.65 2.21L120.66 2.22L120.67 2.23L120.68 2.24C122.04 3.61 122.88 5.48 122.88 7.53V110.81C122.88 112.88 122.03 114.76 120.67 116.12C119.31 117.48 117.43 118.33 115.36 118.33H7.50998C5.45998 118.33 3.57998 117.49 2.20998 116.12L2.19998 116.11L2.18998 116.1L2.17998 116.09C0.819981 114.72 -0.0200195 112.85 -0.0200195 110.8V7.51C-1.95317e-05 5.44 0.83998 3.56 2.19998 2.2C2.27998 2.12 2.35998 2.04 2.44998 1.97C3.78998 0.75 5.56998 0 7.50998 0ZM65.79 98.75C64.21 98.75 62.93 97.36 62.93 95.64C62.93 93.92 64.21 92.53 65.79 92.53H101.01C102.59 92.53 103.87 93.92 103.87 95.64C103.87 97.36 102.59 98.75 101.01 98.75H65.79ZM20.82 98.75C19.26 98.75 17.99 97.36 17.99 95.64C17.99 93.92 19.26 92.53 20.82 92.53H53.47C55.03 92.53 56.3 93.92 56.3 95.64C56.3 97.36 55.03 98.75 53.47 98.75H20.82ZM19.69 85.16C18.13 85.16 16.86 83.77 16.86 82.05C16.86 80.33 18.13 78.94 19.69 78.94H52.34C53.9 78.94 55.17 80.33 55.17 82.05C55.17 83.77 53.9 85.16 52.34 85.16H19.69ZM65.79 85.16C64.21 85.16 62.93 83.77 62.93 82.05C62.93 80.33 64.21 78.94 65.79 78.94H101.01C102.59 78.94 103.87 80.33 103.87 82.05C103.87 83.77 102.59 85.16 101.01 85.16H65.79ZM17.59 34.77H103.53V68.42H17.59V34.77ZM116.09 26.93C115.85 26.97 115.61 26.99 115.37 26.99H7.50998C7.25998 26.99 7.01998 26.97 6.78998 26.93V110.79C6.78998 110.99 6.86998 111.17 6.98998 111.3L6.99998 111.31C7.12998 111.44 7.29998 111.51 7.50998 111.51H115.36C115.55 111.51 115.73 111.43 115.87 111.29C116 111.16 116.09 110.98 116.09 110.78V26.93ZM50.12 9.7C52.82 9.7 55 11.89 55 14.58C55 17.27 52.81 19.46 50.12 19.46C47.43 19.46 45.24 17.27 45.24 14.58C45.24 11.89 47.43 9.7 50.12 9.7ZM33.05 9.7C35.75 9.7 37.93 11.89 37.93 14.58C37.93 17.27 35.74 19.46 33.05 19.46C30.35 19.46 28.17 17.27 28.17 14.58C28.17 11.89 30.36 9.7 33.05 9.7ZM15.99 9.7C18.69 9.7 20.87 11.89 20.87 14.58C20.87 17.27 18.68 19.46 15.99 19.46C13.29 19.46 11.11 17.27 11.11 14.58C11.11 11.89 13.29 9.7 15.99 9.7Z" />
   </svg>
</template>
