<script setup></script>
<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    shape-rendering="geometricPrecision"
    text-rendering="geometricPrecision"
    image-rendering="optimizeQuality"
    fill-rule="evenodd"
    clip-rule="evenodd"
    viewBox="0 0 471 512.35"
    height="30px"
    width="30px"
    class="yellow-icon-color"
  >
    <path
    fill="currentColor"  
      d="M452.29 28.07c22.24 26.03 24.09 64.87 8.55 101.96C423.41 86 380.19 47.89 332.57 15.22c44.8-21.96 93.04-18.39 119.72 12.85zm-199.92 184.6a35.661 35.661 0 0 1 15.01 15.52l63.02-1.1c9.28-.17 16.94 7.22 17.11 16.51.15 9.28-7.24 16.94-16.52 17.11l-64.76 1.13c-6.16 10.54-17.59 17.63-30.68 17.63-19.61 0-35.51-15.91-35.51-35.52 0-13.53 7.57-25.29 18.7-31.28l.01-95.87c0-9.29 7.51-16.82 16.8-16.82 9.29 0 16.82 7.53 16.82 16.82v95.87zM383.62 95.89c37.89 37.89 61.32 90.25 61.32 148.06 0 57.82-23.43 110.17-61.32 148.06-37.9 37.9-90.25 61.34-148.07 61.34-57.82 0-110.16-23.44-148.06-61.34-37.89-37.89-61.32-90.24-61.32-148.06 0-57.82 23.44-110.17 61.32-148.06 33.95-33.94 79.5-56.26 130.18-60.57 15.32-1.31 31.09-.9 46.28 1.16 46.46 6.3 88.08 27.83 119.67 59.41zM91.05 425.46l49.51 33.15-27.13 40.52c-9.16 13.67-27.67 17.33-41.34 8.18-13.67-9.16-17.32-27.65-8.17-41.33l27.13-40.52zm316.14 40.52c9.16 13.68 5.51 32.17-8.17 41.33-13.67 9.15-32.18 5.49-41.34-8.18l-27.13-40.52 49.51-33.15 27.13 40.52zM19.06 27.36C46.24-4.47 95.39-8.11 141.05 14.27 92.53 47.56 48.48 86.38 10.36 131.25-5.48 93.46-3.6 53.88 19.06 27.36z"
    />
  </svg>
</template>
<style scoped>
    .yellow-icon-color {
        color: #ffb500;
    }
</style>