<script setup>
// Define reactive variables using the ref function
const optionRef = ref(null);
const showContactOption = ref(false);
const showLetsChat = ref(true);
const clickFromButton = ref(false);

const i18nHead = useLocaleHead({
   addDirAttribute: true,
   identifierAttribute: "id",
   addSeoAttributes: true,
});

useHead({
   htmlAttrs: {
      lang: i18nHead.value.htmlAttrs.lang,
   },
   link: [...(i18nHead.value.link || [])],
   meta: [...(i18nHead.value.meta || [])],
});

// Event listeners and methods
const handleClickOutside = (event) => {
   if (!clickFromButton.value) {
      showContactOption.value = false;
      setTimeout(() => {
         showLetsChat.value = true;
      }, 400);
   }
};

const handleMouseHoverOnChats = () => {
   clickFromButton.value = true;
   setTimeout(() => {
      clickFromButton.value = false;
   }, 100);

   showLetsChat.value = !showLetsChat.value;
   setTimeout(() => {
      showContactOption.value = !showContactOption.value;
   }, 400);
};

const handleMouseNotHoverOnContacts = () => {
   showContactOption.value = !showContactOption.value;
   setTimeout(() => {
      showLetsChat.value = !showLetsChat.value;
   }, 400);
};

// Register event listeners when the component is mounted
onMounted(() => {
   document.addEventListener("click", handleClickOutside);
});

// Remove event listeners when the component is unmounted
onBeforeUnmount(() => {
   document.removeEventListener("click", handleClickOutside);
});
</script>

<template>
   <AppHeader />
   <FloatingContactButton
      id="floating-contact-button"
      :showContactOption="showContactOption"
      :showLetsChat="showLetsChat"
      :handleMouseHoverOnChats="handleMouseHoverOnChats"
      :handleMouseNotHoverOnContacts="handleMouseNotHoverOnContacts" />
   <slot />
   <AppFooter />
</template>

<style lang="scss">
#floating-contact-button {
   position: fixed;
   bottom: 1.5rem;
   right: 1.5rem;
   z-index: 2;
}
</style>
