<script setup>
import { Form, Field, ErrorMessage } from "vee-validate";
import emailjs from "@emailjs/browser";

useHead({
  title: "Contact - GOHZE",
});

import * as yup from "yup";
import Swal from "sweetalert2";

const Toast = Swal.mixin({
  toast: true,
  position: "top-end",
  showConfirmButton: false,
  timer: 3000,
  timerProgressBar: true,
  onOpen: (toast) => {
    toast.addEventListener("mouseenter", Swal.stopTimer);
    toast.addEventListener("mouseleave", Swal.resumeTimer);
  },
});

const formInitialValues = {
  name: "",
  email: "",
  message: "",
  country: "",
  company_name: "",
  phone: "",
  user_or_enterprise: "",
};

const loading = ref(false);

const schema = computed(() =>
  yup.object({
    name: yup.string().required(),
    email: yup.string().required().email(),
    phone: yup.string().required(),
    country: yup.string().required(),
    user_or_enterprise: yup.string().required("Please select an option"),
    message: yup.string().required(),
  })
);

function reset(actions) {
  actions.resetForm();
}

const emailJsService = "service_69dyt6c";
const emailJsTemplate = "template_jyivyqk";
const emailJsPublicKey = "wDsdSGQMNuZWrJtHf";

async function submitForm(dataValues, actions) {
  const formId = document.querySelector("#contact-form");

  try {
    const response = await emailjs.sendForm(
      emailJsService,
      emailJsTemplate,
      formId,
      emailJsPublicKey
    );
    Toast.fire({
      title: "Vos informations ont été envoyées",
      icon: "success",
    });
    reset(actions);
  } catch (error) {
    Toast.fire({
      title: "Une erreur est survenue",
      icon: "error",
    });
    console.error(error);
  } finally {
    loading.value = false;
  }
}

function onSubmit(values, { resetForm }) {
  if (loading.value) return;
  loading.value = true;

  submitForm(values, { resetForm });
}

const colorMode = useColorMode();
</script>

<template>
  <div style="background: #131514; height: 75px"></div>

  <div class="container mt-5">
    <div class="row">
      <!--Partners-->
      <div class="partners col d-none d-lg-block mb-5">
        <h1 style="font: normal normal normal CanaroW00-Normal">
          {{ $t("contact.heading_text") }}
        </h1>
        <p style="font: normal normal normal 18px/18px CanaroW00-Light">
          {{ $t("contact.paragraph_text") }}
        </p>
        <h5
          class="my-4"
          style="font: normal normal normal 24px/24px CanaroW00-Medium"
        >
        {{ $t("contact.client_text") }}
        </h5>
        <div class="row mb-2">
          <div class="col-4">
            <img
              style="width: 190px; height: 96px"
              class="p-4 border rounded shadow-sm border-warning"
              src="/img/home-page/partners/iziway.webp"
              alt="partner-logo"
            />
          </div>
          <div class="col-4">
            <img
              style="width: 190px; height: 96px"
              class="p-4 border rounded shadow-sm border-warning"
              src="/img/home-page/partners/pwc.webp"
              alt="partner-logo"
            />
          </div>
          <div class="col-4">
            <img
              style="width: 190px; height: 96px"
              class="p-4 border rounded shadow-sm border-warning"
              src="/img/home-page/partners/schoolgood.webp"
              alt="partner-logo"
            />
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-4">
            <img
              style="width: 190px; height: 96px"
              class="p-4 border rounded shadow-sm border-warning"
              src="/img/home-page/partners/globeed.webp"
              alt="partner-logo"
            />
          </div>
          <div class="col-4">
            <img
              style="width: 190px; height: 96px"
              class="p-4 border rounded shadow-sm border-warning"
              src="/img/home-page/partners/saint_jean.webp"
              alt="partner-logo"
            />
          </div>
          <div class="col-4">
            <img
              style="width: 190px; height: 96px"
              class="p-4 border rounded shadow-sm border-warning"
              src="/img/home-page/partners/finu.webp"
              alt="partner-logo"
            />
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-4">
            <img
              style="width: 190px; height: 96px"
              class="p-4 border rounded shadow-sm border-warning"
              src="/img/home-page/partners/zener.webp"
              alt="partner-logo"
            />
          </div>
          <div class="col-4">
            <img
              style="width: 190px; height: 96px"
              class="p-4 border rounded shadow-sm border-warning"
              src="/img/home-page/partners/jfn-univ.webp"
              alt="partner-logo"
            />
          </div>
          <div class="col-4">
            <img
              style="width: 190px; height: 96px"
              class="p-4 border rounded shadow-sm border-warning"
              src="/img/home-page/partners/padidja.webp"
              alt="partner-logo"
            />
          </div>
        </div>
        <!--Location-->
        <div class="mt-5">
          <h5 class="fs-4">Our Location</h5>
          <div class="row">
            <div class="d-flex">
              <ContactImagesLocationIcon style="height: 20px; width: 20px" />
              <p
                class="ms-2"
                :class="{ 'text-secondary': colorMode === 'dark' }"
                style="
                  font: normal normal normal 16px/16px CanaroW00-Light;
                  color: #777771;
                "
              >
                Biyem-assi, Face Général Voyages, <br />Yaoundé, Cameroon
              </p>
            </div>
          </div>
        </div>
        <div class="mt-2">
          <h5 class="fs-4">Our Contact</h5>
          <div class="row mb-3">
            <div class="d-flex">
              <ContactImagesPhoneIcon style="height: 20px; width: 20px" />
              <a
                href="tel:+237695926394"
                class="ms-2"
                :class="{ 'text-secondary': colorMode === 'dark' }"
                style="
                  font: normal normal normal 16px/16px CanaroW00-Light;
                  color: #777771;
                  text-decoration: none;
                "
              >
                +237695926394
              </a>
            </div>
          </div>
          <div class="row mb-3">
            <div class="d-flex">
              <img
                src="assets/img/contact/whatsapp.svg"
                style="height: 20px; width: 20px"
                alt=""
              />
              <a
                href="https://wa.me/+237695926394"
                class="ms-2"
                :class="{ 'text-secondary': colorMode === 'dark' }"
                style="
                  font: normal normal normal 16px/16px CanaroW00-Light;
                  color: #777771;
                  text-decoration: none;
                "
              >
                +237695926394
              </a>
            </div>
          </div>
          <div class="row mb-3">
            <div class="d-flex">
              <ContactImagesEmailIcon style="height: 20px; width: 20px" />
              <a
                href="mailto:contact@gohze.org"
                class="ms-2"
                :class="{ 'text-secondary': colorMode === 'dark' }"
                style="
                  font: normal normal normal 16px/16px CanaroW00-Light;
                  color: #777771;
                  text-decoration: none;
                "
              >
                contact@gohze.org
              </a>
            </div>
          </div>
        </div>
      </div>

      <!--Form-->
      <div class="col">
        <div class="form">
          <div class="container">
            <div
              class="border rounded py-4 px-3"
              :class="{
                'shadow-dark': colorMode === 'dark',
                shadow: colorMode === 'light',
              }"
            >
              <h3
                class="text-dark text-center mb-2"
                :class="{ 'text-secondary': colorMode === 'dark' }"
              >
                {{ $t("contact.form_heading") }}
              </h3>
              <Form
                id="contact-form"
                @submit="onSubmit"
                :validation-schema="schema"
                :initial-values="formInitialValues"
              >
                <div class="row">
                  <div class="col-12 mb-4">
                    <Field name="name" type="email" v-slot="{ field }">
                      <label
                        for="name"
                        class="form-label"
                        :class="{ 'label-dark': colorMode === 'dark' }"
                        >{{ $t("contact.form_name") }}</label
                      >
                      <span class="text-dark">*</span>
                      <input
                        v-bind="field"
                        type="text"
                        class="form-control"
                        style="height: 40px"
                        id="name"
                        :class="{
                          'input-dark': colorMode == 'dark',
                        }"
                      />
                    </Field>
                    <ErrorMessage name="name" class="input-invalid-message" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 mb-4">
                    <Field name="email" type="email" v-slot="{ field }">
                      <label
                        for="email"
                        class="form-label"
                        :class="{ 'label-dark': colorMode === 'dark' }"
                        >{{ $t("contact.form_email") }}</label
                      >
                      <span class="text-dark">*</span>
                      <input
                        v-bind="field"
                        type="email"
                        class="form-control"
                        style="height: 40px"
                        id="email"
                        :class="{
                          'input-dark': colorMode == 'dark',
                        }"
                      />
                    </Field>
                    <ErrorMessage name="email" class="input-invalid-message" />
                  </div>
                  <div class="col-sm-6 mb-4">
                    <Field name="phone" type="tel" v-slot="{ field }">
                      <label for="phone" class="form-label">{{
                        $t("contact.form_phone")
                      }}</label>
                      <span class="text-dark">*</span>
                      <input
                        v-bind="field"
                        type="tel"
                        class="form-control"
                        id="phone"
                        :class="{
                          'input-dark': colorMode == 'dark',
                        }"
                      />
                    </Field>
                    <ErrorMessage name="phone" class="input-invalid-message" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 mb-4">
                    <Field name="country" type="text" v-slot="{ field }">
                      <label for="country" class="form-label">{{
                        $t("contact.form_country")
                      }}</label>
                      <span class="text-dark">*</span>
                      <input
                        v-bind="field"
                        type="text"
                        class="form-control"
                        id="country"
                        :class="{
                          'input-dark': colorMode == 'dark',
                        }"
                      />
                    </Field>
                    <ErrorMessage
                      name="country"
                      class="input-invalid-message"
                    />
                  </div>
                  <div class="col-sm-6 mb-4">
                    <Field name="company_name" type="text" v-slot="{ field }">
                      <label for="company_name" class="form-label">{{
                        $t("contact.form_company_name")
                      }}</label>
                      <input
                        v-bind="field"
                        type="text"
                        class="form-control"
                        id="company_name"
                        :class="{
                          'input-dark': colorMode == 'dark',
                        }"
                      />
                    </Field>
                    <ErrorMessage
                      name="company_name"
                      class="input-invalid-message"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 mb-4">
                    <p>
                      {{ $t("contact.form_type")
                      }}<span class="text-dark">*</span>
                    </p>
                    <div class="form-check form-check-inline">
                      <Field
                        name="user_or_enterprise"
                        type="radio"
                        value="user"
                        v-slot="{ field }"
                      >
                        <input
                          v-bind="field"
                          class="form-check-input"
                          type="radio"
                          name="user_or_enterprise"
                          id="user"
                          value="user"
                          :class="{
                            'input-dark': colorMode == 'dark',
                          }"
                        />
                        <label class="form-check-label" for="user">{{
                          $t("contact.form_person")
                        }}</label>
                      </Field>
                    </div>
                    <div class="form-check form-check-inline">
                      <Field
                        name="user_or_enterprise"
                        type="radio"
                        value="enterprise"
                        v-slot="{ field }"
                      >
                        <input
                          v-bind="field"
                          class="form-check-input"
                          type="radio"
                          name="user_or_enterprise"
                          id="enterprise"
                          value="enterprise"
                          :class="{
                            'input-dark': colorMode == 'dark',
                          }"
                        />
                        <label class="form-check-label" for="enterprise">{{
                          $t("contact.form_enterprise")
                        }}</label>
                      </Field>
                    </div>
                    <div>
                      <ErrorMessage
                        name="user_or_enterprise"
                        class="input-invalid-message"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 mb-4">
                    <Field name="message" type="text" v-slot="{ field }">
                      <label
                        for="message"
                        class="form-label"
                        :class="{ 'label-dark': colorMode === 'dark' }"
                        >{{ $t("contact.form_message") }}</label
                      >
                      <span class="text-dark">*</span>
                      <textarea
                        v-bind="field"
                        class="form-control"
                        id="message"
                        rows="5"
                        :class="{
                          'input-dark': colorMode == 'dark',
                        }"
                      ></textarea>
                    </Field>
                    <ErrorMessage
                      name="message"
                      class="input-invalid-message"
                    />
                  </div>
                </div>
                <div class="button d-flex justify-content-end">
                  <button
                    type="submit"
                    class="btn btn-primary py-2 px-3"
                    style="height: 40px"
                    :disabled="loading"
                  >
                    <span v-if="loading">
                      <span
                        class="spinner-border spinner-border-sm me-2"
                        role="status"
                        aria-hidden="true"
                      ></span>
                      {{ $t("contact.form_loading") }}
                    </span>
                    <span v-else>{{ $t("contact.form_send") }}</span>
                  </button>
                </div>
              </Form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.whatsappImg {
  @media (max-width: 765px) {
    margin-bottom: 20% !important;
  }
}
// .bg-contact {
//   background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(228, 204, 161, 0.5)),
//     url("@/assets/img/contact/header-bg.webp") no-repeat;
//   background-size: cover;
//   height: 50px;
// }
.form {
  padding-top: 5%;
  padding-bottom: 5%;
}

.border-warning {
  border-color: #ada89c28 !important;
}
.cadre {
  border-radius: 20px;
  text-align: center;
  padding: 5px;
  margin-top: 10px;
}

.input-invalid-message {
  color: #ff0000;
}
.color-pm {
  color: $primary;
}
.label-dark {
  color: #dbdada;
}
.input-dark {
  color: #dbdada;
  background-color: #2e2e30;
}
.address-dark {
  background-color: #2e2e30;
}
.shadow-dark {
  box-shadow: 0 0.5rem 1rem rgb(34, 34, 34);
}
.title-dark {
  color: #ffffff;
}
</style>
