<script setup>
useHead({
   title: "Design - GOHZE",
});

const offres = ref([
   {
      title: {
         fr: "Logos professionels",
         en: "Professional logos",
      },
      image: "logo-ionitron",
   },
   {
      title: {
         fr: "Flyers/visuels numériques",
         en: "Flyers / digital visuals",
      },
      image: "brochure",
   },
   {
      title: {
         fr: "Plaquettes institutionnelles",
         en: "Institutional brochures",
      },
      image: "book-outline",
   },
   {
      title: {
         fr: "Charte graphique",
         en: "Graphical charter",
      },
      image: "vector",
   },
   {
      title: {
         fr: "Affiches publicitaires",
         en: "Advertising posters",
      },
      image: "poster",
   },
   {
      title: {
         fr: "Couverture de documents",
         en: "Document cover",
      },
      image: "document-text-outline",
   },
   {
      title: {
         fr: "Roll up et banderoles",
         en: "Roll up and streamers",
      },
      image: "roll-up",
   },
   {
      title: {
         fr: "Magazines et Documents",
         en: "Magazines and Documents",
      },
      image: "magazine",
   },
   {
      title: {
         fr: "Design d'interface web",
         en: "Web interface design",
      },
      image: "globe",
   },
   {
      title: {
         fr: "Couverture de réseaux sociaux",
         en: "Social media coverage",
      },
      image: "social-media",
   },
]);
const ui_ux_design = ref([
   {
      title: {
         fr: "Design d’interaction",
         en: "Interaction design",
      },
      description: {
         fr: "Nous recueillons des besoins auprès du client, pour ensuite les cadrer et analyser.",
         en: "We collect needs from the client, to frame and analyze them.",
      },
   },
   {
      title: {
         fr: "Scénarios",
         en: "Scenarios",
      },
      description: {
         fr: "Créer une expérience qui apporte de la valeur au-delà d'une approche purement technique.",
         en: "Create an experience that brings value beyond a purely technical approach.",
      },
   },
   {
      title: {
         fr: "App design/ Web design",
         en: "App design / Web design",
      },
      description: {
         fr: "Déplacez vos produits ou applications vers le cloud.",
         en: "Move your products or applications to the cloud.",
      },
   },
   {
      title: {
         fr: "Wireframes",
         en: "Wireframes",
      },
      description: {
         fr: "Nous l'utilisons pour concevoir un service de site Web au niveau structurel",
         en: "App design / Web design",
      },
   },
   {
      title: {
         fr: "Recherche des utilisateurs",
         en: "Search for users",
      },
      description: {
         fr: "Nous utilisons des techniques d’investigations pour receuillir des données afin d'optimiser le produit.",
         en: "We use investigative techniques to collect data to optimize the product.",
      },
   },
   {
      title: {
         fr: "Prototypes",
         en: "Prototypes",
      },
      description: {
         fr: "Nous pensons des améliorations, en donnant à toutes les parties prenantes une image claire.",
         en: "We think about improvements, giving all stakeholders a clear picture.",
      },
   },
]);

const tools = ref([
   {
      title: "Illustrator",
      image: "/img/design-page/adobe.png",
   },
   {
      title: "XD",
      image: "/img/design-page/Xd.png",
   },
   {
      title: "Figma",
      image: "/img/design-page/figma.png",
   },
   {
      title: "Photoshop",
      image: "/img/design-page/Ps.png",
   },
]);

const colorMode = useColorMode();
</script>

<template>
   <div class="design">
      <div class="bg-header">
         <div class="container">
            <div class="row align-items-center header-content">
               <div
                  class="col-lg-5 col-md-6 header-sub-content"
                  data-aos="fade-right">
                  <h1 class="text-primary">{{ $t("design.title") }}</h1>
                  <NuxtLink
                     :to="localePath('/contact')"
                     class="btn btn-primary px-4 mt-1"
                     data-aos="zoom-out-right">
                     {{ $t("general.discuss") }}
                  </NuxtLink>
               </div>
            </div>
         </div>
      </div>
      <div class="section">
         <div class="nosOffres container">
            <h3 class="text-center text-secondary">
               {{ $t("design.offres_title") }}
            </h3>
            <div class="d-flex justify-content-center">
               <p class="extra-light-text text-center mt-3 mb-4">
                  {{ $t("design.offres_description") }}
               </p>
            </div>
            <div class="row">
               <div
                  class="col-6 col-sm-4 col-md-3 col-lg-five-per-line mb-4"
                  v-for="(offre, i) in offres"
                  :key="i">
                  <div
                     class="bg-gray h-100 p-3 d-flex flex-column justify-content-center align-items-center"
                     :class="{ 'dark-bg': colorMode == 'dark' }"
                     data-aos="fade-up">
                     <template v-if="offre.image == 'book-outline'">
                        <DesignBookOutlineImage class="logo" />
                     </template>
                     <template v-if="offre.image == 'brochure'">
                        <DesignBrochureImage class="logo" />
                     </template>
                     <template v-if="offre.image == 'document-text-outline'">
                        <DesignDocumentTextOutlineImage class="logo" />
                     </template>
                     <template v-if="offre.image == 'globe'">
                        <DesignGlobeImage class="logo" />
                     </template>
                     <template v-if="offre.image == 'logo-ionitron'">
                        <DesignLogoIonitronImage class="logo" />
                     </template>
                     <template v-if="offre.image == 'magazine'">
                        <DesignMagazineImage class="logo" />
                     </template>
                     <template v-if="offre.image == 'poster'">
                        <DesignPosterImage class="logo" />
                     </template>
                     <template v-if="offre.image == 'roll-up'">
                        <DesignRollUpImage class="logo" />
                     </template>
                     <template v-if="offre.image == 'social-media'">
                        <DesignSocialMediaImage class="logo" />
                     </template>
                     <template v-if="offre.image == 'vector'">
                        <DesignVectorImage class="logo" />
                     </template>
                     <span class="text-center">{{
                        offre.title[$i18n.locale]
                     }}</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="section">
         <div class="impact-public" :class="{ 'dark-bg': colorMode == 'dark' }">
            <div class="container" style="text-align: justify">
               <h3 class="text-center text-secondary impact-title">
                  {{ $t("design.audience_title") }}
               </h3>
               <p class="extra-light-text text-center text">
                  {{ $t("design.audience_description") }}
               </p>

               <div class="row mt-5 flex-sm-row flex-column-reverse">
                  <div
                     class="col-md-6 mt-md-0 mt-5"
                     data-aos="fade-up"
                     data-aos-offset="50"
                     v-html="$t('design.audience_stable')"></div>
                  <div
                     class="col-md-6 d-flex justify-content-center flex-column"
                     data-aos="flip-left"
                     data-aos-easing="ease-out-cubic"
                     data-aos-duration="2000">
                     <img
                        src="/img/design-page/desgin-conceive-public-audience.png"
                        class="w-100"
                        alt="Photo" />
                  </div>
               </div>

               <div class="row justify-content-between">
                  <div
                     class="col-md-6 d-flex justify-content-center flex-column"
                     data-aos="flip-left"
                     data-aos-easing="ease-out-cubic"
                     data-aos-duration="2000">
                     <img
                        src="/img/design-page/design-solutions-adapté.png"
                        class="w-100 mt-5"
                        alt="Photo" />
                  </div>
                  <div
                     class="col-md-6"
                     data-aos="fade-up"
                     data-aos-offset="50"
                     v-html="$t('design.audience_charisma')"></div>
               </div>
               <div
                  class="row flex-sm-row flex-column-reverse justify-content-between">
                  <div
                     class="col-md-6"
                     data-aos="fade-up"
                     data-aos-offset="50"
                     v-html="$t('design.audience_solutions')"></div>
                  <div
                     class="col-md-6 d-flex justify-content-center flex-column">
                     <img
                        src="/img/design-page/communication.png"
                        class="w-100"
                        alt="Photo"
                        data-aos="flip-left"
                        data-aos-easing="ease-out-cubic"
                        data-aos-duration="2000" />
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="design-strategie-outils">
         <!-- Our Experties in UI/UX -->
         <div class="section">
            <div class="designUX">
               <div style="padding-top: 30px; padding-bottom: 30px">
                  <div class="container">
                     <h3
                        class="niveau4-title text-secondary text-center text-uppercase">
                        {{ $t("design.ui_ux_title") }}
                     </h3>
                     <p class="extra-light-text description">
                        {{ $t("design.ui_ux_description") }}
                     </p>
                     <br /><br />
                     <div
                        class="d-flex flex-row flex-wrap justify-content-center items-center">
                        <span v-for="design in ui_ux_design" :key="design.key">
                           <span
                              class="designUx-style bg-gray justify-content-between align-items-center d-flex flex-column"
                              :class="{ 'dark-card-bg': colorMode == 'dark' }"
                              data-aos="fade-up">
                              <h4 class="niveau4-sub-title text-secondary">
                                 {{ design.title[$i18n.locale] }}
                              </h4>
                              <p class="light-text">
                                 {{ design.description[$i18n.locale] }}
                              </p>
                           </span>
                        </span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- our design stategies -->
         <div class="section">
            <div
               class="notreStrategie"
               :class="{ 'dark-bg': colorMode == 'dark' }">
               <div class="container strategie-img">
                  <img
                     class=""
                     data-aos="flip-left"
                     data-aos-easing="ease-out-cubic"
                     data-aos-duration="2000"
                     src="/img/design-page/strategie-design.png"
                     alt="strategie" />
                  <div class="strategie">
                     <h3 class="text-center text-secondary">
                        {{ $t("design.strategie_title") }}
                     </h3>
                     <span class="extra-light-text text-center">
                        {{ $t("design.strategie_description") }}
                     </span>
                     <br />
                  </div>
               </div>
            </div>
         </div>

         <!-- our tools -->
         <div class="section">
            <div class="nosOutils">
               <div class="container">
                  <div
                     class="d-flex flex-column flex-lg-row align-items-center justify-content-between">
                     <div class="test22">
                        <h3 class="text-center text-secondary">
                           {{ $t("design.outils_title") }}
                        </h3>
                        <h6
                           class="text-center mt-2 text-font-family text-justify">
                           {{ $t("design.outils_description") }}
                        </h6>
                        <br />
                     </div>
                     <div class="tools-group row">
                        <div
                           class="col-6 mb-4"
                           v-for="(tool, index) in tools"
                           :key="index">
                           <div
                              class="tool-item bg-white h-100 p-3 d-flex flex-column justify-content-center align-items-center shadow"
                              :class="{ 'dark-card-bg': colorMode == 'dark' }"
                              data-aos="flip-up"
                              data-aos-easing="ease-out-cubic"
                              data-aos-duration="1000">
                              <img
                                 style="max-height: 60px"
                                 class="mw-100"
                                 :src="tool.image"
                                 alt="" />
                              <span>{{ tool.title }}</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <ContactUs />
   </div>
</template>

<style lang="scss" scoped>
.bg-header {
   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/img/bg/design.webp");

   .header-btn {
      margin-top: 50px;
      margin-bottom: 70px;
      @media (max-width: 400px) {
         flex-direction: column;
         .decouvrez {
            margin-top: 10px;
            margin-left: 0px !important;
            margin-right: 0px !important;
         }
      }
   }
}

.design {
   .nosOffres {
      div {
         p {
            max-width: 1000px;
         }
      }

      .services-height {
         height: 300px;

         @media (max-width: 1200px) {
            height: 600px;
         }
      }

      .col-lg-five-per-line {
         @media all and (min-width: 992px) {
            flex: 0 0 20%;
            max-width: 20%;
         }
      }

      #containe {
         display: flex;
      }

      #cont {
         display: flex;
         width: 400px;
         margin-left: 100px;
      }

      #left {
         margin-right: 20px;
      }
   }

   .impact-public {
      background: #eeeeee;
      padding: 50px 0px;
   }

   .design-strategie-outils {
      .text-font-family {
         font-family: "CanaroW00-Light", sans-serif;
      }

      .designUX {
         text-align: center;
         background-size: cover;

         .designUx-style {
            height: 130px;
            width: 350px;
            padding: 20px 10px;
            margin: 15px 20px;

            p {
               margin-bottom: 0px !important;
            }
         }
      }

      .tools {
         .img-tools {
            width: 115px;
            height: 153px;
            border: 2px solid rgb(230, 230, 230);
            margin: 10px;

            img {
               margin-bottom: 10px;
               height: 50px;
               width: 50px;
            }
         }
      }

      .tools-group {
         .tool-item {
            cursor: pointer;
            text-transform: uppercase;
            font-size: 13px;

            img {
               margin-bottom: 10px;
            }

            &:hover {
               color: $primary;
            }
         }
      }

      .rose {
         background: transparent
            linear-gradient(88deg, #b0395f 0%, #8e2343 100%) 0% 0% no-repeat;
         opacity: 1;
         padding-bottom: 10%;
      }

      .notreStrategie {
         background: #eeeeee;
         height: 434px;

         .strategie-img {
            img {
               height: 300px;
            }
         }
      }

      .test22 {
         width: 550px;
      }

      .design-h {
         padding-left: 100px;
         padding-right: 100px;

         @media (max-width: 500px) {
            padding-left: 0px;
            padding-right: 0px;
         }
      }

      .design-text {
         padding-left: 100px;
         padding-right: 100px;
      }

      .design-text {
         width: 200px;
      }

      .rouge {
         background: transparent
            linear-gradient(88deg, #b03939 0%, #23438e 100%) 0% 0% no-repeat;
         opacity: 1;
         padding-bottom: 150px;
      }

      .nosOutils {
         padding-bottom: 50px;
      }

      .c5 {
         width: 45%;
         display: inline-block;
      }

      @media only screen and (max-width: 768px) {
         .med {
            border-right: 0px solid #dee2e6 !important;
         }
      }

      .strategie-img {
         height: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
      }
      .strategie {
         display: flex;
         flex-direction: column;
         justify-content: center;
         max-width: 1000px;
         @media (max-width: 500px) {
            width: 300px;
         }
      }
   }
   @media (max-width: 600px) {
      .bg-header {
         .header-sub-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            h1 {
               text-align: center;
            }
         }
      }
      .nosOffres {
         div {
            p {
               text-align: justify !important;
            }
         }
      }
      .design-strategie-outils {
         .nosOutils {
            .test22 {
               width: auto;
            }

            .design-text-w {
               margin-left: 10px;
               margin-right: 10px;
            }

            padding-bottom: 24px !important;

            h6 {
               text-align: justify !important;
            }
         }
         .notreStrategie {
            height: 600px;

            .strategie-img {
               flex-flow: column-reverse;
            }

            .strategie {
               span {
                  text-align: justify !important;
               }
            }
         }

         .designUX {
            div:nth-child(1) {
               padding-top: 0px !important;
            }

            .description {
               text-align: justify !important;
            }

            .light-text {
               text-align: justify !important;
            }
         }

         .tools {
            flex-direction: column;

            div {
               max-width: 100%;
               flex-direction: column;

               img {
                  margin-right: 0px;
               }
            }
         }
      }
      .impact-public {
         div {
            p:nth-child(2) {
               text-align: justify !important;
            }
         }

         .impact-sub-title {
            text-align: center !important;
         }
      }
   }
}

.logo {
   height: 60px;
}
</style>
