import { ComputedRef } from 'vue';
<script setup>
const services = ref(["web", "mobile", "design", "ui-ux", "consulting"]);

const colorMode = useColorMode();
</script>

<template>
   <div>
      <!--Header-->
      <div class="bg-header bg-home">
         <div class="container position-relative">
            <div
               class="row header-content py-5 align-items-center justify-content-center">
               <div class="col-lg-7 text-center">
                  <h3 class="text-uppercase">
                     {{ $t("home.title") }}
                  </h3>
                  <p class="extra-light-text mb-0">
                     {{ $t("home.description") }}
                  </p>
                  <p class="fst-italic">{{ $t("home.tag") }}</p>
                  <div class="d-flex px-2 justify-content-between">
                     <NuxtLink
                        to="/contact"
                        tag="button"
                        style="flex-basis: 47%"
                        class="btn btn-primary d-flex align-items-center justify-content-center"
                        data-aos="fade-right">
                        {{ $t("home.need_advice") }}
                     </NuxtLink>
                     <NuxtLink
                        :to="{ path: '/', hash: '#services' }"
                        style="flex-basis: 47%"
                        class="btn btn-outline-primary"
                        data-aos="fade-left">
                        {{ $t("home.discover") }}
                     </NuxtLink>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!--Services-->
      <div class="container mt-base">
         <h3
            id="services"
            class="text-secondary text-uppercase"
            :class="{ 'dark-primary-color': colorMode === 'dark' }"
            v-html="$t('home.services_title')"></h3>
         <p class="my-3 book-text">
            {{ $t("home.services_description") }}
         </p>
         <div class="row justify-content-center">
            <HomeServices
               v-for="(service, index) in services"
               :key="index"
               :name="service" />
         </div>
      </div>

      <!-- Our Projects -->
      <HomeOurProjects />

      <!-- Enterprise Value -->
      <HomeEnterpriseValue />

      <!-- Our Strength -->
      <HomeOurStrength />

      <!--Statistiques-->
      <HomeOurFigures />

      <!--Team-->
      <HomeOurTeam />

      <!--Partners-->
      <div class="section container">
         <h3
            class="text-secondary text-uppercase text-center mb-3 col-xl-8 mx-auto"
            :class="{ 'dark-secondary-color': colorMode === 'dark' }">
            {{ $t("home.partners_title") }}
         </h3>
         <HomeOurPartners />
      </div>
   </div>
</template>

<style lang="scss" scoped>
.bg-home {
   background-image: url("@/assets/img/bg/home.webp");
}

.bg-stats {
   background: url("/img/home-page/bg-stats.webp") no-repeat;
   background-size: cover;
}

.dark-bg-stats {
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("/img/home-page/bg-stats.webp") no-repeat !important;
   background-size: cover;
}

.partners_slider {
   margin: 0 30px;

   .VueCarousel-slide {
      img {
         max-width: 100%;
      }

      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 10px;
   }
}

.section-strengths {
   .contact span {
      color: #9e9e9e;
   }
}
</style>
