<script setup>
</script>

<template>
   <svg
      version="1.1"
      id="Layer_1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="0 0 122.88 102.2"
      style="enable-background: new 0 0 122.88 102.2"
      xml:space="preserve"
      class="svg-toggle">
      <path
         fill="currentColor"
         d="M66.41,85.97h21.91c1.76-1.75,3.69-3.57,5.65-5.42c4.11-3.89,8.4-7.95,12.81-13.03c5.04-5.81,5.58-7.82,7.11-13.51 c0.29-1.07,0.61-2.27,1.03-3.76l2.62-9.21l0.03-0.1c1.4-4.1,1.51-6.81,0.93-8.37c-0.18-0.48-0.41-0.8-0.68-0.97 c-0.21-0.14-0.49-0.19-0.78-0.16c-0.68,0.07-1.45,0.5-2.15,1.27l-7.78,18.53c-0.07,0.17-0.17,0.33-0.28,0.47 c-0.46,0.83-1.08,1.64-1.88,2.41L91.14,69.5c-0.75,0.84-2.04,0.91-2.87,0.16c-0.84-0.75-0.91-2.04-0.16-2.87l13.81-15.39 c0.06-0.07,0.12-0.14,0.19-0.2c1.43-1.36,1.88-2.83,1.63-3.9c-0.08-0.33-0.22-0.61-0.42-0.8c-0.19-0.17-0.44-0.29-0.75-0.32v0 c-1.23-0.13-3.04,0.78-5.25,3.39l0,0c-0.06,0.07-0.13,0.14-0.2,0.21l-5.35,4.72l-0.03,0.03c-5.79,5.48-8.28,6.78-12.82,9.15 c-0.95,0.5-1.99,1.04-3.28,1.74c-0.51,0.28-1.01,0.62-1.5,0.99c-0.52,0.4-1.02,0.81-1.49,1.21c-2.4,2.02-3.66,3.66-4.38,5.47 c-0.75,1.88-1.02,4.17-1.39,7.31c-0.15,1.27-0.26,2.52-0.35,3.77C66.47,84.78,66.44,85.38,66.41,85.97L66.41,85.97z M61.32,8.75 C65.4,4.5,68.25,0.83,74.53,0.1C86.31-1.25,97.15,10.82,91.2,22.7c-1.7,3.38-5.14,7.41-8.96,11.36c-4.19,4.34-8.82,8.58-12.07,11.8 l-8.85,8.78l-7.31-7.04c-8.8-8.48-23.15-19.14-23.62-32.36C30.06,5.98,37.36,0.05,45.77,0.16C53.28,0.25,56.43,3.99,61.32,8.75 L61.32,8.75L61.32,8.75z M56.47,85.97H34.55c-1.76-1.75-3.69-3.57-5.65-5.42c-4.11-3.89-8.4-7.95-12.81-13.03 c-5.04-5.81-5.58-7.82-7.11-13.51c-0.29-1.07-0.61-2.27-1.03-3.76l-2.62-9.21l-0.03-0.1c-1.4-4.1-1.51-6.81-0.93-8.37 c0.18-0.48,0.41-0.8,0.68-0.97c0.21-0.14,0.49-0.19,0.78-0.16C6.53,31.5,7.3,31.94,8,32.7l7.78,18.53 c0.07,0.17,0.17,0.33,0.28,0.47c0.46,0.83,1.08,1.64,1.88,2.41l13.8,15.39c0.75,0.84,2.04,0.91,2.87,0.16 c0.84-0.75,0.91-2.04,0.16-2.87L20.96,51.39c-0.06-0.07-0.12-0.14-0.19-0.2c-1.43-1.36-1.88-2.83-1.63-3.9 c0.08-0.33,0.22-0.61,0.42-0.8c0.19-0.17,0.44-0.29,0.75-0.32v0c1.23-0.13,3.05,0.78,5.25,3.39l0,0c0.06,0.07,0.13,0.14,0.2,0.21 l5.35,4.72l0.03,0.03c5.79,5.48,8.28,6.78,12.82,9.15c0.95,0.5,1.99,1.04,3.28,1.74c0.51,0.28,1.01,0.62,1.5,0.99 c0.52,0.4,1.02,0.81,1.49,1.21c2.4,2.02,3.66,3.66,4.38,5.47c0.75,1.88,1.02,4.17,1.39,7.31c0.15,1.27,0.26,2.52,0.35,3.77 C56.41,84.78,56.44,85.38,56.47,85.97L56.47,85.97z M29.45,86.67c-0.31,0.36-0.5,0.83-0.5,1.34v12.14c0,1.13,0.92,2.04,2.04,2.04 h27.58c1.13,0,2.04-0.91,2.04-2.04V87.9c0-1.3-0.08-2.7-0.17-4c-0.09-1.33-0.21-2.65-0.36-3.96c-0.4-3.43-0.7-5.94-1.66-8.35 c-0.99-2.47-2.58-4.6-5.53-7.09c-0.54-0.46-1.09-0.92-1.67-1.35c-0.61-0.46-1.27-0.9-2.01-1.31c-1.2-0.65-2.32-1.24-3.34-1.78 c-4.2-2.2-6.5-3.4-11.91-8.52c-0.04-0.04-0.09-0.08-0.13-0.11l-5.22-4.61c-3.19-3.73-6.31-4.97-8.7-4.71l-0.01,0v0 c-1.17,0.12-2.17,0.58-2.97,1.28l-5.27-12.56l-0.01,0c-0.08-0.18-0.18-0.35-0.31-0.51c-1.46-1.75-3.31-2.77-5.08-2.95 c-1.21-0.12-2.38,0.14-3.4,0.8c-0.97,0.63-1.77,1.61-2.27,2.96c-0.88,2.35-0.86,6,0.86,11.05l2.6,9.15 c0.38,1.32,0.71,2.59,1.02,3.71c1.7,6.35,2.3,8.6,7.97,15.12c4.49,5.17,8.88,9.33,13.1,13.32C27.23,84.55,28.33,85.6,29.45,86.67 L29.45,86.67z M33.35,90.05c0.27,0.06,0.55,0.06,0.83,0h22.34v8.06H33.03v-8.06H33.35L33.35,90.05z M93.43,86.67 c0.31,0.36,0.5,0.83,0.5,1.34v12.14c0,1.13-0.91,2.04-2.04,2.04H64.32c-1.13,0-2.04-0.91-2.04-2.04V87.9c0-0.07,0-0.15,0.01-0.22 c0.03-1.31,0.08-2.58,0.16-3.78c0.09-1.33,0.21-2.65,0.36-3.96c0.4-3.43,0.7-5.94,1.66-8.35c0.99-2.47,2.58-4.6,5.53-7.09 c0.54-0.46,1.09-0.92,1.67-1.35c0.61-0.46,1.27-0.9,2.01-1.31c1.2-0.65,2.32-1.24,3.34-1.78c4.2-2.2,6.5-3.4,11.91-8.52 c0.04-0.04,0.09-0.08,0.13-0.11l5.22-4.61c3.19-3.73,6.31-4.97,8.7-4.71l0.01,0v0c1.17,0.12,2.17,0.58,2.97,1.28l5.27-12.56l0.01,0 c0.08-0.18,0.18-0.35,0.31-0.51c1.46-1.75,3.31-2.77,5.08-2.95c1.21-0.12,2.38,0.14,3.4,0.8c0.97,0.63,1.77,1.61,2.27,2.96 c0.88,2.35,0.86,6-0.86,11.05l-2.6,9.15c-0.38,1.32-0.71,2.59-1.02,3.71c-1.7,6.35-2.3,8.6-7.97,15.12 c-4.49,5.17-8.88,9.33-13.1,13.32C95.65,84.55,94.55,85.6,93.43,86.67L93.43,86.67z M89.53,90.05c-0.27,0.06-0.55,0.06-0.83,0 H66.36v8.06h23.49v-8.06H89.53L89.53,90.05z" />
   </svg>
</template>
