<script setup></script>

<template>
   <svg
      width="115"
      height="123"
      viewBox="0 0 115 123"
      xmlns="http://www.w3.org/2000/svg"
      class="svg-toggle">
      <path
         fill="currentColor"
         d="M24.72 31.9H3.27995C2.69995 43.69 3.44995 54.95 8.06995 63.17C12.43 70.93 20.4 76.06 34.27 76.45C32.69 74.51 31.18 72.22 29.85 69.46C21.52 68.34 16.69 64.89 13.92 59.71C11.15 54.54 10.56 47.78 10.56 39.93C10.56 39.07 11.26 38.37 12.12 38.37H24.72V31.9ZM56.88 33.47L60.76 42.92L70.96 43.69L63.15 50.31L65.57 60.23L56.88 54.85L48.19 60.23L50.61 50.31L42.8 43.69L53 42.92L56.88 33.47ZM1.79995 28.78H24.71V22.94H21.57C19.67 22.94 17.95 22.16 16.7 20.91L16.69 20.9C15.44 19.65 14.66 17.93 14.66 16.03V12.14C13.44 11.9 12.34 11.3 11.49 10.45C10.38 9.34 9.68995 7.81 9.68995 6.12V3.38C9.68995 2.45 10.07 1.6 10.68 0.99C11.31 0.38 12.16 0 13.09 0H100.67C101.6 0 102.45 0.38 103.06 0.99C103.67 1.6 104.05 2.45 104.05 3.38V6.13C104.05 7.82 103.36 9.35 102.25 10.46C101.4 11.31 100.3 11.91 99.08 12.15V16.04C99.08 17.93 98.3 19.66 97.05 20.91L97.04 20.92C95.79 22.17 94.07 22.95 92.17 22.95H89.03V28.79H112.65C113.51 28.79 114.21 29.49 114.21 30.35V30.37C114.93 43.17 114.21 55.55 109 64.72C103.72 74.02 93.99 79.94 76.82 79.57C75.19 81.04 73.54 82.29 71.99 83.48C66.57 87.62 62.49 90.74 65.66 100.3H70.4C72.29 100.3 74.01 101.07 75.26 102.32C76.51 103.57 77.28 105.29 77.28 107.18V109.95H77.96C79.82 109.95 81.52 110.71 82.75 111.94C83.98 113.17 84.74 114.86 84.74 116.73V121.33C84.74 122.19 84.04 122.89 83.18 122.89H30.57C29.71 122.89 29.01 122.19 29.01 121.33V116.73C29.01 114.87 29.77 113.18 31 111.95L31.01 111.94C32.24 110.71 33.93 109.95 35.79 109.95H36.47V107.18C36.47 105.29 37.24 103.57 38.49 102.33L38.5 102.32C39.75 101.08 41.47 100.3 43.35 100.3H48.68C51.51 91.28 47.8 88.36 42.67 84.32C40.93 82.95 39.03 81.46 37.12 79.58C20.15 79.86 10.55 73.95 5.34995 64.7C0.199953 55.52 -0.480047 43.16 0.239953 30.37V30.35C0.239953 29.48 0.939953 28.78 1.79995 28.78ZM51.93 100.29H62.4C59.08 89.42 63.84 85.79 70.11 81C76.99 75.75 85.93 68.93 85.93 46.49V22.98H27.83V45.88C28.21 54.59 29.67 61.04 31.68 65.98C33.67 70.86 36.23 74.27 38.85 76.92C40.76 78.86 42.76 80.43 44.59 81.87C50.56 86.56 54.91 89.99 51.93 100.29ZM64.57 103.41H43.35C42.31 103.41 41.37 103.83 40.69 104.51L40.68 104.52C40 105.2 39.58 106.14 39.58 107.18V109.95H74.16V107.18C74.16 106.15 73.74 105.21 73.05 104.52C72.37 103.84 71.43 103.41 70.39 103.41H64.57ZM75.73 113.06H35.79C34.78 113.06 33.86 113.47 33.2 114.13L33.19 114.14C32.53 114.8 32.12 115.72 32.12 116.73V119.77H81.62V116.73C81.62 115.72 81.21 114.81 80.54 114.14V114.13C79.88 113.47 78.96 113.06 77.95 113.06H75.73ZM89.05 38.37H102.8C103.66 38.37 104.36 39.07 104.36 39.93C104.36 47.8 103.65 54.58 100.75 59.75C97.86 64.89 92.93 68.32 84.61 69.45C83.23 72.24 81.63 74.52 79.93 76.46C93.86 76.09 101.89 70.96 106.31 63.19C110.98 54.97 111.76 43.7 111.19 31.91H89.05V38.37ZM101.23 41.49H89.05V46.49C89.05 54.8 87.89 61.11 86.07 66.05C92.15 64.85 95.85 62.12 98.04 58.22C100.42 53.96 101.14 48.21 101.23 41.49ZM24.72 41.49H13.68C13.76 48.22 14.37 53.98 16.65 58.24C18.74 62.14 22.33 64.87 28.38 66.06C26.45 60.95 25.08 54.45 24.71 45.94V45.87H24.7V41.49H24.72ZM100.67 3.12H13.09C13.02 3.12 12.95 3.15 12.9 3.2C12.85 3.25 12.82 3.31 12.82 3.39V6.14C12.82 6.97 13.16 7.72 13.71 8.27C14.26 8.82 15.01 9.16 15.84 9.16H97.92C98.75 9.16 99.5 8.82 100.05 8.27C100.6 7.72 100.94 6.97 100.94 6.14V3.38C100.94 3.31 100.91 3.24 100.86 3.19C100.81 3.15 100.74 3.12 100.67 3.12ZM95.97 12.27H17.8V16.05C17.8 17.09 18.22 18.04 18.91 18.72C19.6 19.4 20.54 19.83 21.58 19.83H92.19C93.23 19.83 94.18 19.41 94.86 18.72C95.54 18.03 95.97 17.09 95.97 16.05V12.27Z" />
   </svg>
</template>
